{% extends 'base/error.base.html' %}
{% block title %}404 Not Found{% endblock %}
{% block main_tag %}
	<div class="content error">
		<div class="error-title">Error 404: Page Not Found</div>
		<div class="main-error-message">Uh oh!</div>
		<div class="error-description larger">This isn't what you’re looking for, is it?</div>
		<div class="error-description smaller">Double check the URL, or maybe these links might be of use:<br /><a href="{% url 'base:dashboard' %}">Home</a><br /><a href="https://medium.com/@InFlowHQ">Blog</a></div>
		<a class="inflow-btn" href="{% url 'base:dashboard' %}">Take me Home</a>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}