{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<title>Terms of Use</title>
</head>
<body class="greyed">
	<div class="content">
		<p id="title">InFlow</p>
		<div class="progress-bar">
			<span class="number one on">1</span>
			<span class="number two on">2</span>
			<span class="number three on">3</span>
			<div class="bar"></div>
		</div>
		<p class="step-num">Step 3</p>
		<p class="description">Lastly, please accept our Terms of Use and Privacy Policy. After this, you are all set!</p>
		<div class="box terms-of-use">
			<div class="header">Terms of Use &amp; Privacy Policy</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tellus lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque id velit vitae urna euismod ultricies eu vitae risus. In hac habitasse platea dictumst. Donec vel augue vel lacus commodo tristique. Donec ipsum enim, iaculis quis maximus ac, commodo vel quam. Donec rhoncus nisi augue, a egestas libero tristique ac.</p>
			</div>
			<div class="footer"></div>
		</div>
		<p class="disclaimer">Please check the boxes after you have scrolled through the documents</p>
		<p class="disclaimer"><input type="checkbox" name="acknowledgement" />I agree with the Terms of Use above</p>
		<p class="disclaimer"><input type="checkbox" name="acknowledgement" />I agree with the Privacy Policy above</p>
		<div class="ctas">
			<a class="shade-btn" href="{% url 'htmldemos:demo_my_projects' %}">Next</a>
		</div>
	</div>
</body>
</html>