{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}?d=201801100059" />
	<title>Inflow Demo - View My Projects</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="company">InFlow</div>
			<nav>
				<ul>
					<li>
						<a href="{% url 'htmldemos:demo_create_contract' %}">Projects</a>
					</li>
					<li>
						<a href="#">Transactions</a>
					</li>
					<li>
						<a href="#">Profile</a>
					</li>
					<li>
						<a href="#">FAQs</a>
					</li>
					<li>
						<a href="#">Log Out</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main ng-app="amendContractApp" ng-controller="amendContractCtrl" ng-init="contractBasis='deliverables';step='';origVal='';">
		<div class="header">Contract<span class="sub-header">Josh Blank for AT&amp;T</span></div>
		<div class="summary amend-contract-container">
				<div class="section">
					<div class="line" ng-class="{'off': step==='edit-name'}">
						<span class="header">Contract Name</span>
						<span class="value" ng-bind="contractName" ng-click="changeStep('edit-name',contractName)"></span>
						<span class="edit-btn" ng-click="changeStep('edit-name',contractName)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-name' || contractDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="contractDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-name'}">
						<span class="header">Contract Name</span>
						<span class="edit-input"><input type="text" name="contract-name" placeholder="New Contract Name" ng-model="contractName" /></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-name'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="contract-change-description" rows="5" placeholder="* Please provide reason for change..." ng-model="contractDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('contractName')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
				</div>
				<div class="section">
					<div class="line" ng-class="{'off': step==='edit-contact'}">
						<span class="header">Name of Contact</span>
						<span class="value" ng-bind="contactName" ng-click="changeStep('edit-contact',contactName)"></span>
						<span class="edit-btn" ng-click="changeStep('edit-contact',contactName)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-contact' || contactDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="contactDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-contact'}">
						<span class="header">Name of Contact</span>
						<span class="edit-input"><input type="text" name="contact-name" placeholder="New Contact Name" ng-model="contactName" /></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-contact'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="contact-change-description" rows="5" placeholder="* Please provide reason for change..." ng-model="contactDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('contractName')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-billing-name'}">
						<span class="header">Billing Name</span>
						<span class="value" ng-bind="billingName" ng-click="changeStep('edit-billing-name',billingName)"></span>
						<span class="edit-btn" ng-click="changeStep('edit-billing-name',billingName)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-billing-name' || billingDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="billingDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-billing-name'}">
						<span class="header">Billing Name</span>
						<span class="edit-input"><input type="text" name="billing-name" placeholder="New Billing Name" ng-model="billingName" /></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-billing-name'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="billing-name-description" rows="5" placeholder="* Please provide reason for change..." ng-model="billingDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('billingName')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-contact-email'}">
						<span class="header">Email</span>
						<span class="value" ng-bind="billingEmail" ng-click="changeStep('edit-contact-email',billingEmail)"></span>
						<span class="edit-btn" ng-click="changeStep('edit-contact-email',billingEmail)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-contact-email' || emailDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="emailDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-contact-email'}">
						<span class="header">Email</span>
						<span class="edit-input"><input type="email" name="billing-email" placeholder="New Billing Name" ng-model="billingEmail" /></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-contact-email'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="billing-email-description" rows="5" placeholder="* Please provide reason for change..." ng-model="emailDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('billingEmail')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-address'}">
						<span class="header">Address</span>
						<span class="value" ng-click="changeStep('edit-address',billingAddress)">
							<span ng-bind="billingAddress.Address1"></span><br />
							<span ng-bind="billingAddress.Address2"></span><br />
							<span ng-bind="billingAddress.City"></span>,&nbsp;<span ng-bind="billingAddress.State"></span>&nbsp;<span ng-bind="billingAddress.Zip"></span><br />
							<span ng-bind="billingAddress.Country"></span>
						</span>
						<span class="edit-btn" ng-click="changeStep('edit-address',billingAddress)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-address' || addressDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="addressDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-address'}">
						<span class="header">Address</span>
						<span class="edit-input">
							<input type="text" name="client-address-1" placeholder="Address" ng-model="billingAddress.Address1" class="whole-line" /><br />
							<input type="text" name="client-address-2" placeholder="Address 2" ng-model="billingAddress.Address2" class="whole-line" /><br />
							<input type="text" name="client-zip" placeholder="ZIP" ng-model="billingAddress.Zip" class="smaller" />
							<input type="text" name="client-city" placeholder="City" ng-model="billingAddress.City" class="smaller" />
							<input type="text" name="client-state" placeholder="State" ng-model="billingAddress.State" class="smaller" />
						</span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-address'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="billing-address-description" rows="5" placeholder="* Please provide reason for change..." ng-model="addressDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('billingAddress')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
				</div>
				<div class="section" ng-class="{'off': contractBasis==='time'}">
					<div class="line" ng-class="{'off': step==='edit-total-cost'}">
						<span class="header">Project Cost</span>
						<span class="value" ng-bind="totalProjectCost" ng-click="changeStep('edit-total-cost',totalProjectCost)"></span>
						<span class="edit-btn" ng-click="changeStep('edit-total-cost',totalProjectCost)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-total-cost' || totalProjectDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="totalProjectDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-total-cost'}">
						<span class="header">Project Cost</span>
						<span class="edit-input"><input type="text" name="milestone-total-project-cost" placeholder="New Total Cost" ng-model="totalProjectCost" /></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-total-cost'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="milestone-total-project-cost-description" rows="5" placeholder="* Please provide reason for change..." ng-model="totalProjectDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('totalProjectCost')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
					<div ng-repeat="m in milestones">
						<div class="line milestones" ng-class="{'off': step==='edit-milestone-' + m.index}">
							<span class="header">Milestone <span ng-bind="m.index"></span></span>
							<span class="value" ng-click="changeStep('edit-milestone-' + m.index,m)">
								<span ng-bind="m.nickname"></span>
								<span ng-bind="m.distribution"></span>
								<span><a href="#">view description</a></span>
							</span>
							<span class="edit-btn" ng-click="changeStep('edit-milestone-' + m.index,m)">Edit</span>
						</div>
						<div class="line" ng-class="{'off': step===('edit-milestone-' + m.index) || m.editreason===''}">
							<span class="header">&nbsp;</span>
							<span class="value" ng-bind="m.editreason"></span>
						</div>
						<div class="line off" ng-class="{'off': step!=('edit-milestone-' + m.index)}">
							<span class="header">Milestone <span ng-bind="m.index"></span></span>
							<span class="edit-input">
								<input type="text" name="milestone-name" placeholder="New Milestone Name" ng-model="m.nickname" /><br />
								<input type="text" name="milestone-distribution" placeholder="New Milestone Distribution" ng-model="m.distribution" />
							</span>
						</div>
						<div class="line off" ng-class="{'off': step!=('edit-milestone-' + m.index)}">
							<span class="header">&nbsp;</span>
							<span class="edit-input"><textarea name="milestone-edit-description" rows="5" placeholder="* Please provide reason for change..." ng-model="m.editreason"></textarea></span>
							<span class="buttons">
								<span><a href="#" class="cancel" ng-click="cancelStep('edit-milestone-' + m.index)">Cancel</a></span>
								<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
							</span>
						</div>
					</div>
					<div class="line" ng-class="{'off': step==='edit-kill-fee'}">
						<span class="header">Kill Fee</span>
						<span class="value" ng-bind="killFee" ng-click="changeStep('edit-kill-fee',killFee)"></span>
						<span class="edit-btn" ng-click="changeStep('edit-kill-fee',killFee)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-kill-fee' || killFeeDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="killFeeDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-kill-fee'}">
						<span class="header">Kill Fee</span>
						<span class="edit-input"><input type="text" name="milestone-kill-fee" placeholder="New Kill Fee" ng-model="killFee" /></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-kill-fee'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="milestone-kill-fee-description" rows="5" placeholder="* Please provide reason for change..." ng-model="killFeeDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('killFee')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-extra-revision-fee'}">
						<span class="header">Extra Revision Fee</span>
						<span class="value" ng-bind="extraRevisionFee" ng-click="changeStep('edit-extra-revision-fee',extraRevisionFee)"></span>
						<span class="edit-btn" ng-click="changeStep('edit-extra-revision-fee',extraRevisionFee)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-extra-revision-fee' || extraRevisionFeeDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="extraRevisionFeeDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-extra-revision-fee'}">
						<span class="header">Extra Revision Fee</span>
						<span class="edit-input"><input type="text" name="milestone-extra-revision-fee" placeholder="New Extra Revision Fee" ng-model="extraRevisionFee" /></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-extra-revision-fee'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="milestone-kill-fee-description" rows="5" placeholder="* Please provide reason for change..." ng-model="extraRevisionFeeDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('extraRevisionFee')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-request-change-fee'}">
						<span class="header">Request For Change Fee</span>
						<span class="value" ng-bind="requestForChangeFee" ng-click="changeStep('edit-request-change-fee',requestForChangeFee)"></span>
						<span class="edit-btn" ng-click="changeStep('edit-request-change-fee',requestForChangeFee)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-request-change-fee' || requestChangeFeeDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="requestChangeFeeDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-request-change-fee'}">
						<span class="header">Request For Change Fee</span>
						<span class="edit-input"><input type="text" name="milestone-edit-request-change-fee" placeholder="New Request For Change Fee" ng-model="requestForChangeFee" /></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-request-change-fee'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="milestone-kill-fee-description" rows="5" placeholder="* Please provide reason for change..." ng-model="requestChangeFeeDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('requestForChangeFee')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-late-revision-fee'}">
						<span class="header">Late Revision Fee</span>
						<span class="value" ng-bind="lateRevisionFee" ng-click="changeStep('edit-late-revision-fee',lateRevisionFee)"></span>
						<span class="edit-btn" ng-click="changeStep('edit-late-revision-fee',lateRevisionFee)">Edit</span>
					</div>
					<div class="line" ng-class="{'off': step==='edit-late-revision-fee' || lateRevisionFeeDescription===''}">
						<span class="header">&nbsp;</span>
						<span class="value" ng-bind="lateRevisionFeeDescription"></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-late-revision-fee'}">
						<span class="header">Late Revision Fee</span>
						<span class="edit-input"><input type="text" name="milestone-edit-request-change-fee" placeholder="New Late Revision Fee" ng-model="lateRevisionFee" /></span>
					</div>
					<div class="line off" ng-class="{'off': step!='edit-late-revision-fee'}">
						<span class="header">&nbsp;</span>
						<span class="edit-input"><textarea name="milestone-kill-fee-description" rows="5" placeholder="* Please provide reason for change..." ng-model="lateRevisionFeeDescription"></textarea></span>
						<span class="buttons">
							<span><a href="#" class="cancel" ng-click="cancelStep('lateRevisionFee')">Cancel</a></span>
							<span><a href="#" class="save" ng-click="changeStep('','')">Save</a></span>
						</span>
					</div>
				</div>
				<div class="section" ng-class="{'off': contractBasis==='deliverables'}">
					<div class="line">
						<span class="header">Project Cost</span>
						<span class="value" ng-bind="totalProjectCost"></span>
					</div>
					<div class="line">
						<span class="header">Payment Frequency</span>
						<span class="value">Weekly</span>
					</div>
					<div class="line">
						<span class="header">Kill Fee</span>
						<span class="value" ng-bind="killFee"></span>
					</div>
				</div>
				<div class="confirm">
					<span><a href="#" class="back">Back</a></span>
					<span><a href="#" class="previous">Previous Item</a></span>
					<span><a href="#" class="next">Next Item</a></span>
					<span><a href="#fill-contract-overlay" class="confirm">Confirm</a></span>
				</div>
		</div>
		<div class="lean-modal-overlay sign" id="fill-contract-overlay">
			<div class="header">Contract For <span ng-bind="billingName"></span></div>
			<div class="sub-header">You Are using the Milestone Contract. Please read it to make sure everything is accurate.</div>
			<textarea>Contract Lorem Ipsum 
				A. sit amet, consectetur adipiscing elit. Aenean et gravida nisl, at laoreet eros. Nam condimentum erat non sem lacinia, in mattis metus ullamcorper. Maecenas vel tortor sed enim ultricies tempor. Aenean eget neque et ante tempor elementum. Etiam ut consectetur lacus. Vestibulum ac lectus a tortor pellentesque ultrices in at lectus. Suspendisse potenti. In tempus, metus eu dictum mollis, elit risus auctor tortor, sagittis suscipit arcu tortor id eros. Duis commodo pulvinar efficitur. Aenean a urna sit amet tortor luctus pulvinar. Praesent auctor ut felis hendrerit aliquet.</textarea>
			<input type="checkbox" name="acknowledgement" />
			<span class="acknowledgement">I acknowledge that I have read the contract and agree that all etc etc etc</span>
			<div class="electronic-signature-label">Electronic Signature</div>
			<input type="text" name="electronic-signature" placeholder="Full Name" />
			<div class="submisson">
				<input type="submit" value="Send To Client" />
				<span class="cancel">Cancel</span>
			</div>
		</div>
	</main>
	<footer></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://s3.us-east-2.amazonaws.com/inflowcssjs/jquery.leanModal.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
		jQuery(document).ready(function() {
			jQuery("main div.amend-contract-container div.confirm a.confirm").leanModal();
		});
	</script>
	<script>
		var app = angular.module("amendContractApp", []);
		app.controller("amendContractCtrl", function($scope) {
			$scope.milestones = [
				{"index":1,"nickname":"Map","revisions":"1","description":"","distribution":"$3,333","editreason":""},
				{"index":2,"nickname":"Wires","revisions":"1","description":"","distribution":"$3,333","editreason":""},
				{"index":3,"nickname":"Designs","revisions":"1","description":"","distribution":"$3,333","editreason":""}
			];
			$scope.billingAddress = {
				"Address1":"123 Anywhere Lane",
				"Address2":"10th Floor",
				"Zip":"10001",
				"City":"New York",
				"State":"NY",
				"Country":"United States"
			};
			$scope.contractName="Sample Contract Name";
			$scope.contactName="Jake Jakerson";
			$scope.contractDescription="";
			$scope.contactDescription="";
			$scope.billingName="AT&T";
			$scope.billingDescription="";
			$scope.billingEmail="contact@email.com";
			$scope.emailDescription="";
			$scope.addressDescription="";
			$scope.totalProjectCost="$10,000";
			$scope.totalProjectDescription="";
			$scope.killFee = "$500";
			$scope.extraRevisionFee = "$500";
			$scope.requestForChangeFee = "$500";
			$scope.lateRevisionFee = "$500";
			$scope.killFeeDescription = "";
			$scope.extraRevisionFeeDescription = "";
			$scope.requestChangeFeeDescription = "";
			$scope.lateRevisionFeeDescription = "";
			$scope.changeStep = function(stepNumber,valToChange) {
				$scope.step = stepNumber;
				$scope.origVal = valToChange;
			}
			$scope.changeMilestone = function(index) {
				alert(index);
			}
			$scope.cancelStep = function(stepCanceled) {
				$scope.step = "";
				$scope[stepCanceled] = $scope.origVal;
				$scope.origVal = "";
			}
		});
	</script>
</body>