{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}?=201802" />

	<title>Congratulations</title>
</head>
<body>
	<div class="content">
		<p id="title">InFlow</p>
		<p class="congratulation">Congratulations!</p>
		<br />
		<p class="congratulation-des">You have successfully set up your account on InFlow and</p>
		<p class="congratulation-des">are ready to start working and get paid!</p>
    <br />
    <br />
    <div class="ctas">
			<a class="shade-btn" href="{% url 'htmldemos:demo_my_projects' %}">Ok, Let's Go!</a>
		</div>
	</div>
</body>
</html>
