{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/create.contract.css' %}" />
	<style>
		header { color: #7b7c7e; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; font-size: 54px; font-weight: 200; height: 300px; }
		div.contract-header1 {  margin: 130px 300px 25px; text-align: center;  }
		div.contract-header2 {  margin: 50px 300px 25px; text-align: center;  }
		main { margin: 80px 470px 0px; }
		main div.para p a { color: #000000; }
	</style>
	<title>Inflow Demo - Contract Sent</title>
</head>
<body>
	<header>
		<div class="contract-header1">Contract Sent</div>
		<div class="contract-header2">to AT&T</div>
	</header>
	<main>
		<div class="para">
			<p>Dear Josh,</p>
			<br>
			<p>The attached contract, 'Mobile App,' was sent to AT&T at 5:35pm on</p>
			<p>12/22/17. You may view the status of your contract on your <a href="#">Dashboard</a></p>
			<p>any time.</p>
			<br>
			<p>Your lovers,</p>
			<p>InFlow</p>
	  </div>
	</main>
</body>
</html>
