{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/create.contract.css' %}" />
	<title>Inflow Demo - Contract From</title>
</head>
<body>
	<header>
		<div class="contract-header1">Contract from</div>
		<div class="contract-header2">Josh Blank</div>
	</header>
	<main>
		<div class="para">
			<p>Dear AT&amp;T,</p>
			<br>
			<p>The attached contract, 'Mobile App,' is from Josh Blank. Please review</p>
			<p>the contract with any corrections by 12/30/17. Feel free to contact</p>
			<p>InFlow with any questions at info@inflow.com</p>
			<br>
			<p>Your lovers,</p>
			<p>InFlow</p>
	  </div>
	</main>
</body>
</html>