{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/inflowcssjs/base.css?d=20171208" />
	<title>Inflow Demo - Base Login Page</title>
</head>
<body>
	<header></header>
	<main>
		<div class="home-page-panels">
			<div class="left-panel">
				<div>Sign...</div>
				<div>seal...</div>
				<div>deliver...</div>
				<div>get paid.</div>
			</div>
			<div class="right-panel">
				<div class="login-panel">
					<form action="{% url 'demo_my_projects' %}" method="post">
						<input type="text" name="inflowusername" placeholder="login@email.com" />
						<a href="#">Forgot email?</a>
						<input type="password" name="inflowsystempassword" />
						<a href="#">Forgot password?</a>
						<input type="submit" value="Login" />
						<a href="#account-creation-overlay" class="under-login">Create account</a>
						{% csrf_token %}
					</form>
				</div>
				<div class="option-text">or</div>
				<div class="social-media-login-btn gmail"><a href="#gmail-overlay">Sign in with Gmail</a></div>
				<div class="social-media-login-btn linked"><a href="#linkedin-overlay">Sign in with LinkedIn</a></div>
			</div>
		</div>
		<div class="lean-modal-overlay" id="gmail-overlay">
			<div class="gmail-login-panel">
				<form action="{% url 'demo_my_projects' %}" method="post">
					<img src="https://img00.deviantart.net/01f4/i/2017/163/5/9/gmail__product_sans_logo_concept__by_cosmcala-da3xgqq.png" alt="gmail logo" />
					<input type="text" name="gmailusername" placeholder="username@gmail.com" />
					<input type="password" name="gmailpassword" placeholder="password" />
					<input type="submit" value="Sign In" />
					{% csrf_token %}
					<a href="#" class="under-gmail-login">Cancel</a>
				</form>
			</div>
		</div>
		<div class="lean-modal-overlay" id="linkedin-overlay">
			<div class="linkedin-login-panel">
				<form action="{% url 'demo_my_projects' %}" method="post">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/2000px-LinkedIn_Logo.svg.png" alt="linkedin logo" />
					<input type="text" name="gmailusername" placeholder="username@gmail.com" />
					<input type="password" name="gmailpassword" placeholder="password" />
					<input type="submit" value="Sign In" />
					{% csrf_token %}
					<a href="#" class="under-gmail-login">Cancel</a>
				</form>
			</div>
		</div>
		<div class="lean-modal-overlay" id="account-creation-overlay">
			<div class="account-creation-panel">
				<form action="{% url 'demo_my_projects' %}" method="post">
					<p>InFlow Account Creation</p>
					<input type="text" name="fname" placeholder="First Name" />
					<input type="text" name="lname" placeholder="Last Name" />
					<input type="email" name="gmailusername" placeholder="username@gmail.com" />
					<input type="password" name="gmailpassword" placeholder="password" />
					<input type="submit" value="Create!" />
					{% csrf_token %}
					<a href="#" class="under-account-creation">Cancel</a>
				</form>
			</div>
		</div>
	</main>
	<footer></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://s3.us-east-2.amazonaws.com/inflowcssjs/jquery.leanModal.min.js"></script>
	<script>
		jQuery(document).ready(function() {
			jQuery("main div.home-page-panels div.right-panel div.social-media-login-btn a").leanModal();
			jQuery("main div.home-page-panels div.right-panel div.login-panel a.under-login").leanModal();
		});
	</script>
</body>
</html>