{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/inflowcssjs/base.css?d=2017" />
	<title>Inflow Demo - Base Login Page</title>
</head>
<body>
	<header></header>
	<main>
		<div class="home-page-panels">
			<div class="left-panel">
				<div>Sign...</div>
				<div>seal...</div>
				<div>deliver...</div>
				<div>get paid.</div>
			</div>
			<div class="right-panel">
				<div class="login-panel">
					<form action="/">
						<input type="text" name="inflowusername" placeholder="login@email.com" />
						<a href="#">Forgot email?</a>
						<input type="password" name="inflowsystempassword" />
						<a href="#">Forgot password?</a>
						<input type="submit" value="Login" />
						<a href="#" class="under-login">Create account</a>
						{% csrf_token %}
					</form>
				</div>
				<div class="option-text">or</div>
				<div class="social-media-login-btn gmail"><a id="gmail-go" href="#gmail-overlay">Sign in with Gmail</a></div>
				<div class="social-media-login-btn linked"><a href="#">Sign in with LinkedIn</a></div>
			</div>
		</div>
		<div class="lean-modal-overlay" id="gmail-overlay">
		</div>
	</main>
	<footer>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://s3.us-east-2.amazonaws.com/inflowcssjs/jquery.leanModal.min.js"></script>
	<script>
		jQuery(document).ready(function() {
			jQuery("main div.home-page-panels div.right-panel div.social-media-login-btn a").leanModal();
			jQuery("main div.home-page-panels div.right-panel div.social-media-login-btn.gmail a").click();
		});
	</script>
</body>
</html>