{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}?d=201801" />
	<title>Inflow Demo - View My Projects</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="company">InFlow</div>
			<nav>
				<ul>
					<li>
						<a href="{% url 'htmldemos:demo_create_contract' %}">Projects</a>
					</li>
					<li>
						<a href="#">Transactions</a>
					</li>
					<li>
						<a href="#">Profile</a>
					</li>
					<li>
						<a href="#">FAQs</a>
					</li>
					<li>
						<a href="#">Log Out</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<div class="header">Projects</div>
		<a href="#base-overlay" class="hidden"></a>
		<div class="alert-table">
			<div class="alert-table-header">Projects for Review</div>
			<div><a href="{% url 'htmldemos:demo_amend_contract' %}">CONTRACT: Review request from Josh Blank for AT&amp;T Web Redesign</a></div>
			<div><a href="{% url 'htmldemos:demo_amend_contract' %}">REVIEW: Review request of Wireframes from Jake Jakerson</a></div>
		</div>
		<div class="data-table">
			<div class="data-table-header">
				<span>Milestones</span>
				<span>Date</span>
				<span>Paid On</span>
				<span>Status</span>
			</div>
			<div class="row">
				<span>--</span>
				<span>--</span>
				<span>--</span>
				<span>--</span>
			</div>
			<div class="row alt">
				<span>--</span>
				<span>--</span>
				<span>--</span>
				<span>--</span>
			</div>
			<div class="row">
				<span>--</span>
				<span>--</span>
				<span>--</span>
				<span>--</span>
			</div>
			<div class="row alt">
				<span>--</span>
				<span>--</span>
				<span>--</span>
				<span>--</span>
			</div>
			<div class="row">
				<span>--</span>
				<span>--</span>
				<span>--</span>
				<span>--</span>
			</div>
			<div class="row alt">
				<span>--</span>
				<span>--</span>
				<span>--</span>
				<span>--</span>
			</div>
			<div class="row">
				<span>--</span>
				<span>--</span>
				<span>--</span>
				<span>--</span>
			</div>
			<div class="row alt">
				<span>--</span>
				<span>--</span>
				<span>--</span>
				<span>--</span>
			</div>
		</div>
	</main>
	<footer></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://s3.us-east-2.amazonaws.com/inflowcssjs/jquery.leanModal.min.js"></script>
</body>
</html>