{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<title>Inflow Demo - View My Projects</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="company">InFlow</div>
			<nav>
				<ul>
					<li>
						<a href="{% url 'htmldemos:demo_create_contract' %}">Projects</a>
					</li>
					<li>
						<a href="#">Transactions</a>
					</li>
					<li>
						<a href="#">Profile</a>
					</li>
					<li>
						<a href="#">FAQs</a>
					</li>
					<li>
						<a href="#">Log Out</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<div class="header">Projects</div>
		<div class="alert-table">
			<div class="alert-table-header">Projects for Review</div>
			<div><a href="{% url 'htmldemos:demo_amend_contract' %}">CONTRACT: Review request from Josh Blank for AT&amp;T Web Redesign</a></div>
			<div><a href="{% url 'htmldemos:demo_amend_contract' %}">REVIEW: Review request of Wireframes from Jake Jakerson</a></div>
		</div>
		<div class="data-table">
			<div class="data-table-title active">
				<a href="{% url 'htmldemos:demo_project_details' %}">NFL Experience App &gt;</a>
			</div>
			<div class="data-table-header">
				<span>Milestones</span>
				<span>Date</span>
				<span>Paid On</span>
				<span>Status</span>
			</div>
			<div class="row">
				<span>Research</span>
				<span>NOV 2 2017</span>
				<span>Complete</span>
				<span>NOV 7 2017</span>
			</div>
			<div class="row alt">
				<span>Wires</span>
				<span>JAN 18 2018</span>
				<span>In Progress</span>
				<span>NA</span>
			</div>
			<div class="row">
				<span>Design Draft</span>
				<span>MAR 2 2018</span>
				<span>Not Started</span>
				<span>NA</span>
			</div>
			<div class="row alt">
				<span>Mocks</span>
				<span>MAR 31 2018</span>
				<span>Not Started</span>
				<span>NA</span>
			</div>
			<div class="row">
				<span>Prototype</span>
				<span>APR 30 2018</span>
				<span>Not Started</span>
				<span>NA</span>
			</div>
		</div>
		<div class="data-table">
			<div class="data-table-title">
				<a href="{% url 'htmldemos:demo_project_details' %}">Blake Federov Book &gt;</a>
			</div>
			<div class="data-table-header">
				<span>Research</span>
				<span>Date</span>
				<span>Paid On</span>
				<span>Status</span>
			</div>
			<div class="row">
				<span>Draft 1</span>
				<span>NOV 2 2017</span>
				<span>Complete</span>
				<span>NOV 7 2017</span>
			</div>
			<div class="row alt">
				<span>Draft 2</span>
				<span>JAN 18 2018</span>
				<span>In Progress</span>
				<span>NA</span>
			</div>
			<div class="row">
				<span>Draft 3</span>
				<span>MAR 2 2018</span>
				<span>Not Started</span>
				<span>NA</span>
			</div>
			<div class="row alt">
				<span>Draft 4</span>
				<span>MAR 31 2018</span>
				<span>Not Started</span>
				<span>NA</span>
			</div>
			<div class="row">
				<span>Draft 5</span>
				<span>APR 30 2018</span>
				<span>Not Started</span>
				<span>NA</span>
			</div>
		</div>
	</main>
	<footer></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'js/jquery.leanModal.min.js' %}"></script>
</body>
</html>