{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}?d=201712142115" />
	<title>Inflow Demo - View My Projects</title>
</head>
<body>
	<header>
		<div class="company">InFlow</div>
		<nav>
			<ul>
				<li>
					<a href="#">Projects</a>
				</li>
				<li>
					<a href="#">Transactions</a>
				</li>
				<li>
					<a href="#">Profile</a>
				</li>
				<li>
					<a href="#">FAQs</a>
				</li>
				<li>
					<a href="#">Log Out</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="data-table">
			<div class="header">Projects</div>
			<div class="info-panel">
				<div>Project YTD: 0</div>
				<a href="{% url 'htmldemos:demo_create_contract' %}">Start Project</a>
				<a href="#base-overlay" class="hidden"></a>
			</div>
			<div class="table">
				<div class="header">
					<span>Milestones</span>
					<span>Delivery Date</span>
					<span>Paid On</span>
					<span>Status</span>
				</div>
				<div class="row">
					<span>--</span>
					<span>--</span>
					<span>--</span>
					<span>--</span>
				</div>
				<div class="row alt">
					<span>--</span>
					<span>--</span>
					<span>--</span>
					<span>--</span>
				</div>
				<div class="row">
					<span>--</span>
					<span>--</span>
					<span>--</span>
					<span>--</span>
				</div>
				<div class="row alt">
					<span>--</span>
					<span>--</span>
					<span>--</span>
					<span>--</span>
				</div>
				<div class="row">
					<span>--</span>
					<span>--</span>
					<span>--</span>
					<span>--</span>
				</div>
				<div class="row alt">
					<span>--</span>
					<span>--</span>
					<span>--</span>
					<span>--</span>
				</div>
				<div class="row">
					<span>--</span>
					<span>--</span>
					<span>--</span>
					<span>--</span>
				</div>
				<div class="row alt">
					<span>--</span>
					<span>--</span>
					<span>--</span>
					<span>--</span>
				</div>
			</div>
		</div>
		<div class="lean-modal-overlay welcome" id="base-overlay">
			<p class="para1">Welcome to InFlow</p>
			<p class="para2">Let's finish building your profile (it's only three steps).</p>
			<hr>
			<span><a href="#" class="skip">Nah</a></span>
			<span><a href="#address-overlay" class="next">Hell yes!</a></span>
		</div>
		<div class="lean-modal-overlay address" id="address-overlay">
			<p class="para1">Let's get your address information</p>
			<img src="https://s3.us-east-2.amazonaws.com/inflowcssjs/progress1.png" alt="Progress 1" />
			<div class="address-panel">
				<form action="/">
					<input type="text" name="street" class="first-column" id="street" placeholder="123 Example Street" />
					<input type="text" name="apt" class="first-column" placeholder="Example Apt. 1" />
					<input type="text" name="zip" id="zip" placeholder="Zip" class="smaller" />
					<input type="text" name="city" id="city" placeholder="City" class="smaller" />
					<select id="state" name="state">
						<option value="State" selected="selected">State</option>
						<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AR">AR</option>
						<option value="AZ">AZ</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DC">DC</option>
						<option value="DE">DE</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="IA">IA</option>
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="MA">MA</option>
						<option value="MD">MD</option>
						<option value="ME">ME</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MO">MO</option>
						<option value="MS">MS</option>
						<option value="MT">MT</option>
						<option value="NC">NC</option>
						<option value="NE">NE</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>
						<option value="NV">NV</option>
						<option value="NY">NY</option>
						<option value="ND">ND</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX">TX</option>
						<option value="UT">UT</option>
						<option value="VT">VT</option>
						<option value="VA">VA</option>
						<option value="WA">WA</option>
						<option value="WI">WI</option>
						<option value="WV">WV</option>
						<option value="WY">WY</option>
					</select>
				</form>
			</div>
			<hr>
			<span><a href="#" class="skip">Skip</a></span>
			<span><a href="#stripe-overlay" class="next">Next</a></span>
   		</div>
		<div class="lean-modal-overlay stripe" id="stripe-overlay">
			<p class="para1">Wanna get paid? Let's connect your Stripe.</p>
			<img src="https://s3.us-east-2.amazonaws.com/inflowcssjs/progress2.png" alt="Progress 2" />
			<a href="#" id="btn">Connect Stripe</a>
			<p class="para2">I don't have Stripe...<a href="#">but I want it!</a></p>
			<hr>
			<span><a href="#" class="skip">Skip</a></span>
			<span><a href="#photo-overlay" class="next">Next</a></span>
		</div>
		<div class="lean-modal-overlay photo" id="photo-overlay">
			<p class="para1">Have a hilarious or dashing photo to share?</p>
			<img src="https://s3.us-east-2.amazonaws.com/inflowcssjs/progress3.png" alt="Progress 2" />
			<a href="#" id="upload">Upload</a>
			<hr>
			<span><a href="#" class="skip">Skip</a></span>
			<span><a href="#exit-overlay" class="next">Next</a></span>
		</div>
		<div class="lean-modal-overlay finish" id="exit-overlay">
			<p class="para1">You are all set! Welcome to InFlow</p>
			<hr>
			<a href="#" class="skip">Close</a>
		</div>
	</main>
	<footer></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://s3.us-east-2.amazonaws.com/inflowcssjs/jquery.leanModal.min.js"></script>
	<script>
		jQuery(document).ready(function() {
			var lightboxes = [];
			jQuery("div.lean-modal-overlay").each(function(index,obj) {
				lightboxes.push(jQuery(obj).attr("id"));
			});
			
			jQuery("main div.data-table div.info-panel a.hidden").leanModal();
			jQuery("div.lean-modal-overlay span a.next").leanModal();
			jQuery("a.skip").click(function() { jQuery("#lean_overlay").click(); });
			jQuery("div.lean-modal-overlay span a.next").click(
					function() {
						var nextLightbox = jQuery(this).attr("href");
						for (var iterator= 0; iterator < lightboxes.length; iterator++) { 
							if (nextLightbox !== "#" + lightboxes[iterator]) {
								jQuery("div.lean-modal-overlay#" + lightboxes[iterator]).fadeOut(200);
							}
						}
					}
			);
			jQuery("main div.data-table div.info-panel a.hidden").click();
		});
	</script>
</body>
</html>