{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<title>Inflow Demo - View My Projects</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="company">InFlow</div>
			<nav>
				<ul>
					<li>
						<a href="{% url 'htmldemos:demo_create_contract' %}">Projects</a>
					</li>
					<li>
						<a href="#">Transactions</a>
					</li>
					<li>
						<a href="#">Profile</a>
					</li>
					<li>
						<a href="#">FAQs</a>
					</li>
					<li>
						<a href="#">Log Out</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<div class="header">NFL Experience App</div>
		<div class="milestone-detail">
			<div class="milestone-detail-header">
				<span>Current Milestone: Wires</span>
				<a href="{% url 'htmldemos:demo_upload_milestone' %}" class="upload">Upload Milestone</a>
			</div>
			<div class="edit-milestone"><a href="#">Edit Milestone</a></div>
			<div class="information">
				<div class="left">Due Date: 1/18/18</div>
				<div class="right">Status: In Progress</div>
			</div>
			<div class="information">
				<div class="left">Contact: Danny Dannerson</div>
				<div class="right">Email: email@email.com</div>
			</div>
			<div class="description">
				Description: Low fidelity wires of...<a href="#">View Description</a>
			</div>
		</div>
		<div class="milestone-detail">
			<div class="milestone-detail-header">
				<span>Next Milestone: Design Draft</span>
			</div>
			<div class="edit-milestone"><a href="#">Edit Milestone</a></div>
			<div class="information">
				<div class="left">Due Date: 1/18/18</div>
				<div class="right">Status: Not Started</div>
			</div>
			<div class="information">
				<div class="left">Contact: Danny Dannerson</div>
				<div class="right">Email: email@email.com</div>
			</div>
			<div class="description">
				Description: High fidelity design...<a href="#">View Description</a>
			</div>
		</div>
		<div class="milestone-detail off">
			<div class="milestone-detail-header">
				<span>Milestone: Mocks</span>
				<a href="#" class="show-milestone">Expand</a>
			</div>
			<div class="edit-milestone"><a href="#">Edit Milestone</a></div>
			<div class="information">
				<div class="left">Due Date: 1/18/18</div>
				<div class="right">Status: Not Started</div>
			</div>
			<div class="information">
				<div class="left">Contact: Danny Dannerson</div>
				<div class="right">Email: email@email.com</div>
			</div>
			<div class="description">
				Description: High fidelity design...<a href="#">View Description</a>
			</div>
		</div>
		<div class="milestone-detail">
			<div class="milestone-detail-header">
				<span>Complete: Research</span>
				<span class="paid">Amount: $500</span>
			</div>
			<div class="information">
				<div class="left">Due Date: 1/18/18</div>
				<div class="right">Status: Not Started</div>
			</div>
			<div class="information">
				<div class="left">Contact: Danny Dannerson</div>
				<div class="right">Email: email@email.com</div>
			</div>
			<div class="description">
				Description: High fidelity design...<a href="#">View Description</a>
			</div>
		</div>
	</main>
	<footer></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://s3.us-east-2.amazonaws.com/inflowcssjs/jquery.leanModal.min.js"></script>
</body>