{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
	<title>Inflow Demo - View My Projects</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="company">InFlow</div>
			<nav>
				<ul>
					<li>
						<a href="{% url 'htmldemos:demo_create_contract' %}">Projects</a>
					</li>
					<li>
						<a href="#">Transactions</a>
					</li>
					<li>
						<a href="#">Profile</a>
					</li>
					<li>
						<a href="#">FAQs</a>
					</li>
					<li>
						<a href="#">Log Out</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<div class="header">NFL Experience App</div>
		<div class="deliverable-upload">
			<form method="post" enctype="multipart/form-data" action="{% url 'htmldemos:demo_preview_milestone' %}" id="regular">
				<div>Select A File From Your Computer</div>
				<input type="file" name="deliverable" />
 				<input type="hidden" name="drive-url" />
				<input type="submit" value="Upload File" />
				{% csrf_token %}
			</form>
			<div>Option to select file from Google Drive</div>
			<div id="google-drive-picker"></div>
			<button type="button" id="auth" disabled>Authenticate</button>
		</div>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		// The Browser API key obtained from the Google API Console.
		var developerKey = "AIzaSyDh1SVHDc59w3e0B4wDtkrkGjE5AdD4_Ac";

		// The Client ID obtained from the Google API Console. Replace with your own Client ID.
		var clientId = "484516298114-e129ldgcrevrivqmvn82osnj0iu93bts.apps.googleusercontent.com";

		var appId = "484516298114";

		// Scope to use to access user's drive files.
		var scope = "https://www.googleapis.com/auth/drive";

		var pickerApiLoaded = false;
		var oauthToken;

		// Use the API Loader script to load google.picker and gapi.auth.
		function onApiLoad() {
			gapi.load("auth2", onAuthApiLoad);
			gapi.load("picker", onPickerApiLoad);
		}

		function onAuthApiLoad() {
			var authBtn = document.getElementById('auth');
	        authBtn.disabled = false;
	        authBtn.addEventListener('click', function() {
				gapi.auth2.authorize({
					client_id: clientId,
					scope: scope
				}, handleAuthResult);
			});
		}

		function onPickerApiLoad() {
			pickerApiLoaded = true;
	        createPicker();
		}

		function handleAuthResult(authResult) {
			if (authResult && !authResult.error) {
				oauthToken = authResult.access_token;
				createPicker();
			}
		}

		// Create and render a Picker object for searching images.
		function createPicker() {
			if (pickerApiLoaded && oauthToken) {
				var view = new google.picker.View(google.picker.ViewId.DOCS);
				view.setMimeTypes("image/png,image/jpeg,image/jpg");
				var picker = new google.picker.PickerBuilder()
					.enableFeature(google.picker.Feature.NAV_HIDDEN)
					.enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
					.setAppId(appId)
					.setOAuthToken(oauthToken)
					.addView(view)
					.addView(new google.picker.DocsUploadView())
					.setDeveloperKey(developerKey)
					.setCallback(pickerCallback)
					.build();
				picker.setVisible(true);
			}
		}

		// A simple callback implementation.
		function pickerCallback(data) {
			if (data.action == google.picker.Action.PICKED) {
				var fileId = data.docs[0].id;
				var dataObject = {
					"url" : "https://drive.google.com/uc?export=view&id=" + fileId,
					"embedUrl" : data.docs[0].embedUrl,
					"driveUrl" : data.docs[0].url,
					"id" : data.docs[0].id,
					"type" : data.docs[0].type,
					"mimeType" : data.docs[0].mimeType,
					"name" : data.docs[0].name
				};
				
				var urlElements = data.docs[0].url.split("file/d/");
				dataObject["webContentLink"] = urlElements + "uc?id=" + fileId + "&export=download";
				
				var message = "<p>You picked: " + dataObject["webContentLink"] + "</p>";
		        document.getElementById("google-drive-picker").innerHTML = message;
		        jQuery("div.deliverable-upload form#regular input[type='hidden'][name='drive-url']").val(dataObject["url"]);
		        jQuery("div.deliverable-upload form#regular input[type='hidden'][name='drive-id']").val(dataObject["id"]);
		        // jQuery("div.deliverable-upload form#regular").submit();
			}
		}
	</script>
	<script src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
</body>
