{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<style>
		img{ max-width:300px; display: inline-block; }
		input[type=file]{ padding:10px; float: left; }
	</style>
	<title>Inflow Demo - View My Projects</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="company">InFlow</div>
			<nav>
				<ul>
					<li>
						<a href="{% url 'htmldemos:demo_create_contract' %}">Projects</a>
					</li>
					<li>
						<a href="#">Transactions</a>
					</li>
					<li>
						<a href="#">Profile</a>
					</li>
					<li>
						<a href="#">FAQs</a>
					</li>
					<li>
						<a href="#">Log Out</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<div class="header">NFL Experience App</div>
		<div class="deliverable-upload">
			<form method="post" enctype="multipart/form-data" action="{% url 'htmldemos:demo_preview_milestone' %}">
				<div>Select A File From Your Computer</div>
				<input type='file' onchange="readURL(this);" />
        <img id="blah" src="http://placehold.it/300" alt="your image" />
				<input type="submit" value="Upload File" />
				{% csrf_token %}
			</form>
			<div>Option to select file from Google Drive</div>
			<div id="google-drive-picker"></div>
			<button type="button" id="auth" disabled>Authenticate</button>
		</div>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
	   }
	</script>
	<script>
		// The Browser API key obtained from the Google API Console.
		var developerKey = "AIzaSyAe7oJuNMKgBpReacIm04QQc_gtqJDV_xc";

		// The Client ID obtained from the Google API Console. Replace with your own Client ID.
		var clientId = "664505544030-uba2jj5ipgovhctdruc06m6vt8ojp3ml.apps.googleusercontent.com";

		var appId = "664505544030";

		// Secret
		// Zc3K7MFQNvAUobl0cTUOfOEn

		// Scope to use to access user's drive files.
		var scope = "https://www.googleapis.com/auth/drive";

		var pickerApiLoaded = false;
		var oauthToken;

		// Use the API Loader script to load google.picker and gapi.auth.
		function onApiLoad() {
			gapi.load("auth2", onAuthApiLoad);
			gapi.load("picker", onPickerApiLoad);
		}

		function onAuthApiLoad() {
			var authBtn = document.getElementById('auth');
	        authBtn.disabled = false;
	        authBtn.addEventListener('click', function() {
				gapi.auth2.authorize({
					client_id: clientId,
					scope: scope
				}, handleAuthResult);
			});
		}

		function onPickerApiLoad() {
			pickerApiLoaded = true;
	        createPicker();
		}

		function handleAuthResult(authResult) {
			if (authResult && !authResult.error) {
				oauthToken = authResult.access_token;
				createPicker();
			}
		}

		// Create and render a Picker object for searching images.
		function createPicker() {
			if (pickerApiLoaded && oauthToken) {
				var view = new google.picker.View(google.picker.ViewId.DOCS);
				view.setMimeTypes("image/png,image/jpeg,image/jpg");
				var picker = new google.picker.PickerBuilder()
					.enableFeature(google.picker.Feature.NAV_HIDDEN)
					.enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
					.setAppId(appId)
					.setOAuthToken(oauthToken)
					.addView(view)
					.addView(new google.picker.DocsUploadView())
					.setDeveloperKey(developerKey)
					.setCallback(pickerCallback)
					.build();
				picker.setVisible(true);
			}
		}

		// A simple callback implementation.
		function pickerCallback(data) {
			if (data.action == google.picker.Action.PICKED) {
				var fileId = data.docs[0].id;
				var dataObject = {
					"url" : "https://drive.google.com/uc?export=view&id=" + fileId,
					"embedUrl" : data.docs[0].embedUrl,
					"driveUrl" : data.docs[0].url,
					"id" : data.docs[0].id,
					"type" : data.docs[0].type
				};
				var message = "<p>You picked: " + dataObject["url"] + "</p>";
		        document.getElementById("google-drive-picker").innerHTML = message;
		        jQuery("div.deliverable-upload form input[type='hidden'][name='drive-url']").val(dataObject["url"]);
		        jQuery("div.deliverable-upload form").submit();
			}
		}
	</script>
	<script src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
</body>
