{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<title>Stripe Thanks</title>
</head>
<body class="greyed">
	<div class="content">
		<p id="title">InFlow</p>
		<div class="img-container">
			<img id="progress" src="https://s3.us-east-2.amazonaws.com/inflowcssjs/progress2.png" />
		</div>
		<p class="step-num">Step 2</p>
		<div class="ctas">
			<p>Awesome! Thanks!</p>
		</div>
		<div class="ctas">
			<a class="shade-btn" href="{% url 'htmldemos:demo_tos' %}">Next</a>
		</div>
	</div>
</body>
</html>