{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<title>Stripe Connect</title>
</head>
<body class="greyed">
	<div class="content">
		<p id="title">InFlow</p>
		<div class="progress-bar">
			<span class="number one on">1</span>
			<span class="number two on">2</span>
			<span class="number three">3</span>
			<div class="bar"></div>
		</div>
		<p class="step-num">Step 2</p>
		<p class="description">Let's get your Stripe account linked with InFlow. If you do not have a Stripe Account, no worries! You can create one with the link below</p>
		<div class="ctas">
			<a class="shade-btn" href="{% url 'htmldemos:demo_stripe_thanks' %}">Connect Stripe</a>
			<span class="info"><span>?</span> Why Do I Need This?</span>
		</div>
		<div class="ctas">
			<p>I Don't have Stripe....<a href="#">But I want it</a></p>
		</div>
		<a class="shade-btn" href="{% url 'htmldemos:demo_stripe_thanks' %}">Skip, I'll Do This Later</a>
	</div>
</body>
</html>