{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<style>

	</style>
	<title>Welcome</title>
</head>
<body>
	<div class="content">
		<p id="title">InFlow</p>
		<p class="step-num"></p>
		<div class="welcome-padder"></div>
		<p class="description">Welcome to InFlow!</p>
		<p class="description">Your account has been successfully created!</p>
		<p class="description">Please proceed to the next steps to set up your account.</p>
		<div class="ctas">
			<a class="shade-btn" href="{% url 'htmldemos:demo_address' %}">Ok, Got it!</a>
		</div>
	</div>
</body>
</html>