{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/create.contract.css' %}" />
	<title>Inflow Demo - Client Email Signed</title>
</head>
<body>
	<header>
		<div class="contract-header1">Contract Sent</div>
		<div class="contract-header2">to [FREELANCER NAME]</div>
	</header>
	<main>
		<div class="para">
			<p>Dear [CONTACT NAME],</p>
			<br>
			<p>Congratulations! The attached contract, [Contract Name] has been  </p>
			<p>sent to [FREELANCER NAME] and is now active. Your freelancer will </p>
			<p>begin work and delivery your first milestone in the agreed-upon date.  </p>
      <p>Feel free to contact InFlow with any questions at info@inflow.com or </p>
      <p>visit your Dashboard any time to check the status of your project. </p>
			<br>
			<p>Your lovers,</p>
			<p>InFlow</p>
	  </div>
	</main>
</body>
</html>
