{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/create.contract.css' %}" />
	<title>Inflow Demo - Contract Sent</title>
</head>
<body>
	<header>
		<div class="contract-header1">Contract Sent</div>
		<div class="contract-header2">to AT&amp;T</div>
	</header>
	<main>
		<div class="para">
			<p>Dear Josh,</p>
			<br>
			<p>The attached contract, 'Mobile App,' was sent to AT&T at 5:35pm on</p>
			<p>12/22/17. You may view the status of your contract on your <a href="{% url 'htmldemos:demo_my_projects' %}">Dashboard</a></p>
			<p>any time.</p>
			<br>
			<p>Your lovers,</p>
			<p>InFlow</p>
	  </div>
	</main>
</body>
</html>