{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/create.contract.css' %}" />
	<title>Inflow Demo - Freelance Email Signed</title>
</head>
<body>
	<header>
		<div class="contract-header1">Signed Contract from</div>
		<div class="contract-header2">[CLIENT NAME]</div>
	</header>
	<main>
		<div class="para">
			<p>Dear [FREELANCER NAME],</p>
			<br>
			<p>Congratulations! The attached contract, [Contract Name] has been  </p>
			<p>signed by [CLIENT NAME]. It's active and you can begin your work.  </p>
			<br>
			<p>Your lovers,</p>
			<p>InFlow</p>
	  </div>
	</main>
</body>
</html>
