{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<title>Email Confirm - Freelancer</title>
	<style>
		body { margin: 25px auto; width: 600px; }
	    div { font-size: 30px; line-height: 32px; padding: 15px 0px; }
	    a, a:link, a:visited, a:hover, a:active { border-radius: 8px; background-color: #D8D8D8; border: solid 1px #979797; color: #000; display: block; font-size: 30px; font-weight: 700; margin: 0px auto; padding: 10px 0px; text-align: center; text-decoration: none; width: 400px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
	</style>
</head>
<body>
	<div>Hi Louis,</div>
	<div>You have sent CLIENT Milestone #2. Way to go!</div>
	<div><a href="#">View Milestone</a></div>
	<div>You should expect to hear feedback on <strong>March 23, 2018</strong>. If for any reason you need to re-send the Milestone or send a feedback reminder email, you can do so on <span style="text-decoration:underline;">your Dashboard.</span></div>
</body>
</html>