{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<title>Email Confirm - Client</title>
	<style>
		body { margin: 25px auto; width: 600px; }
	    div { font-size: 30px; line-height: 32px; padding: 15px 0px; }
	    a, a:link, a:visited, a:hover, a:active { border-radius: 8px; background-color: #D8D8D8; border: solid 1px #979797; color: #000; display: block; font-size: 30px; font-weight: 700; margin: 0px auto; padding: 10px 0px; text-align: center; text-decoration: none; width: 400px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
	</style>
</head>
<body>
	<div>Hi CLIENT,</div>
	<div>It’s a good mail day! Louis has sent you Milestone #2. To view it and provide feedback, visit your <span style="text-decoration:underline;">Client Dashboard</span>, or press the button below.</div>
	<div>As a friendly reminder, feedback is due on March 23, 2018.</div>
	<div><a href="#">View and Accept Milestone</a></div>
</body>
</html>