{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'htmldemos:client_active_use' %}">Return to Projects</a></div>
	<div class="content">
		<div class="heading-elements">
			<div class="header">NFL EXPERIENCE APP</div>
			<div class="buttons"><a href="{% url 'htmldemos:freelancer_active_use_specific_project_milestones' %}">Upload another milestone</a></div>
			<div class="sub-header">National Football League</div>
		</div>
		<div class="preview-window">
			<div class="file-name">Wireframes_NFL_3.20.18.pdf</div>
			<div class="preview-area">
				<img src="https://s3.amazonaws.com/inflow-upload-demo/my_watermark.jpg" alt="freelancer preview with watermark" />
			</div>
		</div>
		<div class="feedback-due"><span>Feedback from client due:</span>March 23, 2018</div>
		<div class="inner-details footer">
			<div class="buttons">
				<a href="{% url 'htmldemos:freelancer_active_use_specific_project_milestones_schedule' %}">Schedule Delivery Date</a>
				<a href="{% url 'htmldemos:freelancer_active_use_specific_project_milestones_schedule_send_now' %}">Send Milestones to Client</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}