{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'htmldemos:client_active_use' %}">Return to Projects</a></div>
	<div class="content">
		<div class="info-window">
			<div>Your milestone will soon be on its way!</div>
			<div>Milestone scheduled for delivery on: March 20, 2018</div>
			<div>You and your client will receive an email confirmation.</div>
			<a href="#">Resend email confirmations</a>
		</div>
		<div class="inner-details footer">
			<div class="buttons"><a href="{% url 'htmldemos:freelancer_active_use_specific_project_milestones' %}" class="alt">Return to Milestones</a></div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}