{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'htmldemos:client_active_use' %}">Return to Projects</a></div>
	<div class="content">
		<div class="heading-elements">
			<div class="header">NFL EXPERIENCE APP</div>
			<div class="table">
				<div class="table-header">PAYMENT PROGRESS</div>
				<div class="table-content split">
					<div class="cleared">$500</div>
					<div class="in-progress">$2,500</div>
				</div>
			</div>
			<div class="table">
				<div class="table-header">PROJECT STATUS</div>
				<div class="table-content">In Progress</div>
			</div>
			<div class="sub-header">National Football League</div>
		</div>
		<div class="ribbon">
			<span>MILESTONES</span>
			<span>OVERVIEW</span>
			<span class="on">INVOICES</span>
			<span>FILES</span>
		</div>
		<div class="list inner-details invoices">
			<div class="header">Invoices</div>
			<div class="data-table">
				<div class="table">
					<div class="data-table-header">
						<span>Invoice #</span>
						<span>Date Sent</span>
						<span>Status</span>
						<span>Date Paid</span>
					</div>
					<div class="row">
						<span>001</span>
						<span>February 5, 2018</span>
						<span>Paid</span>
						<span>February 8, 2018</span>
					</div>
				</div>
			</div>
			<div class="buttons"><a href="#">Create Invoice</a></div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}