{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content">
		<div class="header">Projects</div>
		<div class="right-facing-button">
			<a href="#">Create Project</a>
		</div>
		<div class="list">
			<div class="label">CURRENT PROJECTS</div>
			<div class="item">
				<div class="info">
					<div class="title">NFL Experience App</div>
					<div class="description">National Football League</div>
				</div>
				<div class="icon active">Eye Picture</div>
			</div>
			<div class="data-table">
				<div class="table">
					<div class="data-table-header">
						<span class="milestone-name">Milestone</span>
						<span class="date">Due Date</span>
						<span class="total">To be Paid</span>
						<span class="milestone-status">Status</span>
						<span class="paid-on">Paid</span>
					</div>
					<div class="row">
						<span class="milestone-name">Research</span>
						<span class="date">February 4, 2018</span>
						<span class="total">$500</span>
						<span class="milestone-status">Completed</span>
						<span class="paid-on">February 10, 2018</span>
					</div>
					<div class="row alt">
						<span class="milestone-name">Wireframes</span>
						<span class="date">March 20, 2018</span>
						<span class="total">$1,200</span>
						<span class="milestone-status">In Progress</span>
						<span class="paid-on">N/A</span>
					</div>
					<div class="row">
						<span class="milestone-name">Design Drafts</span>
						<span class="date">April 1, 2018</span>
						<span class="total">$800</span>
						<span class="milestone-status">Not Started</span>
						<span class="paid-on">N/A</span>
					</div>
					<div class="row alt">
						<span class="milestone-name">Mocks</span>
						<span class="date">April 15, 2018</span>
						<span class="total">$950</span>
						<span class="milestone-status">Not Started</span>
						<span class="paid-on">N/A</span>
					</div>
					<div class="row">
						<span class="milestone-name">Prototypes</span>
						<span class="date">May 1, 2018</span>
						<span class="total">$200</span>
						<span class="milestone-status">Not Started</span>
						<span class="paid-on">N/A</span>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="info">
					<div class="title">Blake Federov Book</div>
					<div class="description">Client</div>
				</div>
				<div class="icon">Eye Picture</div>
			</div>
			<div class="item">
				<div class="info">
					<div class="title">Recipe Blog Post</div>
					<div class="description">Le Cordon Bleu</div>
				</div>
				<div class="icon">Eye Picture</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}