{% extends 'base/dashboard.base.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'htmldemos:client_active_use' %}">Return to Projects</a></div>
	<div class="content">
		<div class="heading-elements">
			<div class="header">NFL EXPERIENCE APP</div>
			<div class="table">
				<div class="table-header">PAYMENT PROGRESS</div>
				<div class="table-content split">
					<div class="cleared">$500</div>
					<div class="in-progress">$2,500</div>
				</div>
			</div>
			<div class="table">
				<div class="table-header">PROJECT STATUS</div>
				<div class="table-content">In Progress</div>
			</div>
			<div class="sub-header">National Football League</div>
		</div>
		<div class="ribbon">
			<span class="on">MILESTONES</span>
			<span>OVERVIEW</span>
			<span>INVOICES</span>
			<span>FILES</span>
		</div>
		<div class="milestone-contacts">
			<div class="header">
				Contact Information
				<a href="#">Edit information</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}