{% extends 'base/dashboard.base.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'htmldemos:client_active_use' %}">Return to Projects</a></div>
	<div class="content">
		<div class="heading-elements">
			<div class="header">NFL EXPERIENCE APP</div>
			<div class="table">
				<div class="table-header">PAYMENT PROGRESS</div>
				<div class="table-content split">
					<div class="cleared">$500</div>
					<div class="in-progress">$2,500</div>
				</div>
			</div>
			<div class="table">
				<div class="table-header">PROJECT STATUS</div>
				<div class="table-content">In Progress</div>
			</div>
			<div class="sub-header">National Football League</div>
		</div>
		<div class="ribbon">
			<span>MILESTONES</span>
			<span class="on">OVERVIEW</span>
			<span>INVOICES</span>
			<span>FILES</span>
		</div>
		<div class="milestone-contacts">
			<div class="header">
				Contact Information
				<a href="#">Edit information</a>
			</div>
			<div class="line"><span>Client Name:</span>Russell Wilson</div>
			<div class="line"><span>Email:</span>russ1@nfl.com</div>
			<div class="line"><span>Phone:</span>123-456-7890</div>
			<div class="header secondary">Business Location</div>
			<div class="line"><span>Address:</span><span class="data">1111 Football Way N.<br />Seattle, WA 11111</span></div>
			<div class="header secondary">Terms</div>
			<div class="line"><span>Task:</span>Description</div>
			<div class="line"><span>Payment Total:</span>$2,500</div>
			<div class="line"><span>Stripe:</span>Verified</div>
			<div class="line"><span>Project Duration:</span>8 weeks</div>
			<div class="header secondary"><a href="#">View Contract</a></div>
			<div class="footer">+ Another Contact</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}