{% extends 'base/dashboard.base.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'htmldemos:client_active_use' %}">Return to Projects</a></div>
	<div class="content">
		<div class="heading-elements">
			<div class="header">NFL EXPERIENCE APP</div>
			<div class="table">
				<div class="table-header">PAYMENT PROGRESS</div>
				<div class="table-content split">
					<div class="cleared">$500</div>
					<div class="in-progress">$2,500</div>
				</div>
			</div>
			<div class="table">
				<div class="table-header">PROJECT STATUS</div>
				<div class="table-content">In Progress</div>
			</div>
			<div class="sub-header">National Football League</div>
		</div>
		<div class="ribbon">
			<span>MILESTONES</span>
			<span>OVERVIEW</span>
			<span>INVOICES</span>
			<span class="on">FILES</span>
		</div>
		<div class="list inner-details files">
			<div class="header">All Files</div>
			<div class="file-listing">
				<div class="header row">
					<span class="file-name">File Name</span>
					<span class="file-size">File Size</span>
					<span class="date-uploaded">Date Uploaded</span>
					<span class="download"><a href="#">Download all files</a></span>
				</div>
				<div class="row">
					<span class="file-name">Research_NFL_2.4.18.doc</span>
					<span class="file-size">281 MB</span>
					<span class="date-uploaded">February 1, 2018</span>
					<span class="download">DL</span>
					<span class="delete">&times;</span>
				</div>
				<div class="row alt">
					<span class="file-name">Wireframes_NFL_3.20.18.pdf</span>
					<span class="file-size">347 MB</span>
					<span class="date-uploaded">February 14, 2018</span>
					<span class="download">DL</span>
					<span class="delete">&times;</span>
				</div>
				<div class="row">
					<span class="file-name">Wireframes_NFL_3.20.18.pdf</span>
					<span class="file-size">347 MB</span>
					<span class="date-uploaded">February 14, 2018</span>
					<span class="download">DL</span>
					<span class="delete">&times;</span>
				</div>
			</div>
			<div class="buttons"><a href="#">Upload a File</a></div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}