{% extends 'base/dashboard.base.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content">
		<div class="header">Projects</div>
		<div class="right-facing-button">
			<a href="#">Create Project</a>
		</div>
		<div class="list">
			<div class="label">CURRENT PROJECTS</div>
			<div class="item">
				<div class="info">
					<div class="title">NFL Experience App</div>
					<div class="description">National Football League</div>
				</div>
				<div class="icon">Eye Picture</div>
			</div>
			<div class="item">
				<div class="info">
					<div class="title">Blake Federov Book</div>
					<div class="description">Client</div>
				</div>
				<div class="icon">Eye Picture</div>
			</div>
			<div class="item">
				<div class="info">
					<div class="title">Recipe Blog Post</div>
					<div class="description">Le Cordon Bleu</div>
				</div>
				<div class="icon">Eye Picture</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}