{% load staticfiles %}
<!doctype html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/lf.dashboard.css' %}?d=20180427" />
		<link rel="stylesheet" href="{% static 'css/stripe.css' %}" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
		<meta name="google-signin-client_id" content="857316650586-gm54140nh8ifnvls7s8acbntv3cp915e.apps.googleusercontent.com" />
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="{% url 'base:dashboard' %}"><img src="{% static 'img/inflow-logo.png' %}" alt="InFlow is a freelancer payment solution" /></a>
			</div>
			<div class="content">
				<nav>
					<ul>
						<li><a href="{% url 'base:dashboard' %}">Home</a></li>
						<li><a href="{% url 'contracts:home' %}">Projects</a></li>
						<li><a href="{% url 'contracts:my_contacts' %}">Contacts</a></li>
					</ul>
				</nav>
				<nav class="alt">
					<ul>
						<li><a href="{% url 'accounts:settings' %}">Settings</a></li>
						<li><a href="{% url 'base:help_center' %}">Help</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			{% block main_tag %}{% endblock %}
		</main>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="{% static 'js/inflow.dashboard.base.js' %}?"></script>
		<script src="https://apis.google.com/js/platform.js"></script>
		<script src="{% static 'js/inflow.google.signout.handler.js' %}?d=201804"></script>
		{% block bottom_scripts %}{% endblock %}
	</body>
</html>