{% load staticfiles %}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/hfbase.css' %}?d=201803182026" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
	<meta name="google-signin-client_id" content="857316650586-gm54140nh8ifnvls7s8acbntv3cp915e.apps.googleusercontent.com">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<header>
		<div class="content">
			<div class="logo">
				<a href="/">InFlow</a>
			</div>
			{% if show_nav %}
				<nav>
					<a href="#">Features</a>
					<a href="#">Pricing</a>
					<a href="#">Blog</a>
					<a href="{% url 'accounts:login' %}">Sign In</a>
					<a href="{% url 'accounts:create' %}" class="alt">Sign Up</a>
				</nav>
			{% endif %}
		</div>
	</header>
	<main>
		{% block main_tag %}{% endblock %}
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'js/inflow.google.signin.handler.js' %}"></script>
	<script src="https://apis.google.com/js/platform.js?onload=InflowRenderGoogleButton" async defer></script>
	{% block bottom_scripts %}{% endblock %}
</body>
</html>