{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}{{contract_info.name}} - Invoices{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'contracts:home' %}">Return to Projects</a></div>
	<div class="content project-arrow higher">
		<div class="heading-elements">
			<div class="header">{{contract_info.name}}</div>
			<div class="table">
				<div class="table-header">PAYMENT PROGRESS</div>
				<div class="table-content split">
					<div class="cleared">$0</div>
					<div class="in-progress">${{contract_info.total_worth}}</div>
				</div>
			</div>
			<div class="table">
				<div class="table-header">PROJECT STATUS</div>
				<div class="table-content">{{contract_info.state}}</div>
			</div>
			<div class="sub-header">{{contract_info.client_name}}</div>
		</div>
		<div class="ribbon four-buttons">
			<span><a href="{% url 'contracts:project_milestones' contract_info.slug contract_info.id %}">MILESTONES</a></span>
			<span class="on"><a href="{% url 'contracts:project_overview' contract_info.slug contract_info.id %}">OVERVIEW</a></span>
			<span><a href="{% url 'contracts:project_invoices' contract_info.slug contract_info.id %}">INVOICES</a></span>
			<span><a href="{% url 'contracts:project_files' contract_info.slug contract_info.id %}">FILES</a></span>
		</div>
		<div class="milestone-contacts" ng-app="contractOverviewApp" ng-controller="contractOverviewCtrl" ng-init="editMode=0;editModeText='Edit information';">
			<form method="post" action="{% url 'contracts:project_overview' contract_info.slug contract_info.id %}">
				<div class="header">
					Contact Information
					<a href="#" ng-click="changeEditMode()" ng-bind="editModeText"></a>
				</div>
				<div class="line"><span>Client Name:</span>{{contract_recipient.billing_name}}</div>
				<div class="line"><span>Email:</span>{{contract_recipient.billing_email}}</div>
				<div class="line"><span>Phone:</span>123-456-7890</div>
				<div class="header secondary">Business Location</div>
				{% for addr in addresses %}
					<div class="line"><span>Address:</span><span class="data">{{addr.Address1}} {{addr.Address2}}<br />{{addr.City}}, {{addr.State}}</span></div>
				{% endfor %}
				<div class="header secondary">Terms</div>
				<div class="line"><span>Task:</span>{{contract_info.description}}</div>
				<div class="line"><span>Payment Total:</span>${{contract_info.total_worth}}</div>
				<div class="line"><span>Project Duration:</span>{{contract_info.time_remaining}}</div>
				<div class="header secondary"><a href="#">View Contract</a></div>
			</form>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}
	<script src="{% static 'js/inflow.freelancer.active-use.app.js' %}?d=201805"></script>
	<script src="{% static 'js/inflow.freelancer.active-use.controller.js' %}?d=201805"></script>
{% endblock %}