{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}{{contract_info.name}} - Invoices{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'contracts:home' %}">Return to Projects</a></div>
	<div class="content project-arrow higher">
		<div class="heading-elements">
			<div class="header">{{contract_info.name}}</div>
			<div class="table">
				<div class="table-header">PAYMENT PROGRESS</div>
				<div class="table-content split">
					<div class="cleared">$0</div>
					<div class="in-progress">${{contract_info.total_worth}}</div>
				</div>
			</div>
			<div class="table">
				<div class="table-header">PROJECT STATUS</div>
				<div class="table-content">{{contract_info.state}}</div>
			</div>
			<div class="sub-header">{{contract_info.client_name}}</div>
		</div>
		<div class="ribbon four-buttons">
			<span><a href="{% url 'contracts:project_milestones' contract_info.slug contract_info.id %}">MILESTONES</a></span>
			<span><a href="#">OVERVIEW</a></span>
			<span class="on"><a href="{% url 'contracts:project_invoices' contract_info.slug contract_info.id %}">INVOICES</a></span>
			<span><a href="{% url 'contracts:project_files' contract_info.slug contract_info.id %}">FILES</a></span>
		</div>
		<div class="list inner-details invoices">
			<div class="header">Invoices</div>
			<div class="buttons"><a href="#">Create Invoice</a></div>
		</div>
	</div>
{% endblock %}