{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}{{contract_info.name}} - Invoices{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'contracts:home' %}">Return to Projects</a></div>
	<div class="content project-arrow higher">
		<div class="heading-elements">
			<div class="header">{{contract_info.name}}</div>
			<div class="table">
				<div class="table-header">PAYMENT PROGRESS</div>
				<div class="table-content split">
					<div class="cleared">$0</div>
					<div class="in-progress">${{contract_info.total_worth}}</div>
				</div>
			</div>
			<div class="table">
				<div class="table-header">PROJECT STATUS</div>
				<div class="table-content">{{contract_info.state}}</div>
			</div>
			<div class="sub-header">{{contract_recipient.billing_name}}</div>
		</div>
		<div class="ribbon four-buttons">
			<span><a href="{% url 'contracts:project_milestones' contract_info.slug contract_info.id %}">MILESTONES</a></span>
			<span class="on"><a href="{% url 'contracts:project_overview' contract_info.slug contract_info.id %}">OVERVIEW</a></span>
			<span><a href="{% url 'contracts:project_invoices' contract_info.slug contract_info.id %}">INVOICES</a></span>
			<span><a href="{% url 'contracts:project_files' contract_info.slug contract_info.id %}">FILES</a></span>
		</div>
		<div class="milestone-contacts" ng-app="contractOverviewApp" ng-controller="contractOverviewCtrl" ng-init="editMode=0;editModeText='Edit information';">
			<form method="post" action="{% url 'contracts:project_overview' contract_info.slug contract_info.id %}">
				<div class="header">
					Contact Information
					<span class="edit-mode" ng-click="changeEditMode()" ng-bind="editModeText"></span>
				</div>
				{% if contract_recipient.contact_name != "" %}
					<div class="line">
						<span class="label">Contact Name:</span>
						<span ng-show="editMode==0" ng-bind="contact_name" ng-init="contact_name='{{contract_recipient.contact_name}}'"></span>
						<input type="text" ng-show="editMode==1" name="contact_name" ng-model="contact_name" ng-value="contact_name" />
					</div>
				{% endif %}
				<div class="line">
					<span class="label">Client Name:</span>
					<span ng-show="editMode==0" ng-bind="billing_name" ng-init="billing_name='{{contract_recipient.billing_name}}'"></span>
					<input type="text" ng-show="editMode==1" name="billing_name" ng-model="billing_name" ng-value="billing_name" />
				</div>
				<div class="line">
					<span class="label">Email:</span>
					<span ng-show="editMode==0" ng-bind="billing_email" ng-init="billing_email='{{contract_recipient.billing_email}}'"></span>
					<input type="email" ng-show="editMode==1" name="billing_email" ng-model="billing_email" ng-value="billing_email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" />
				</div>
				<div class="line">
					<span class="label">Phone:</span>
					<span ng-show="editMode==0" ng-bind="billing_phone" ng-init="billing_phone='{{contract_recipient.phone_number}}'"></span>
					<input type="text" ng-show="editMode==1" name="billing_phone" placeholder="(xxx) xxx-xxxx" ng-model="billing_phone" ng-value="billing_phone" />
				</div>
				<div class="header secondary">Business Location</div>
				{% for addr in addresses %}
					<div class="line">
						<span class="label">Address:</span>
						<span class="data"><span ng-show="editMode==0" ng-bind="locationAddress1[{{addr.id}}]" ng-init="locationAddress1[{{addr.id}}]='{{addr.Address1}}'"></span> <span ng-show="editMode==0" ng-bind="locationAddress2[{{addr.id}}]" ng-init="locationAddress2[{{addr.id}}]='{{addr.Address2}}'"></span><br /><span ng-show="editMode==0" ng-bind="locationAddressCity[{{addr.id}}]" ng-init="locationAddressCity[{{addr.id}}]='{{addr.City}}'"></span><span ng-show="editMode==0">,</span> <span ng-show="editMode==0" ng-bind="locationAddressState[{{addr.id}}]" ng-init="locationAddressState[{{addr.id}}]='{{addr.State}}'"></span></span>
						<input type="text" ng-show="editMode==1" name="locationAddress1[{{addr.id}}]" ng-model="locationAddress1[{{addr.id}}]" ng-value="locationAddress1[{{addr.id}}]" placeholder="Address 1" class="address" />
						<input type="text" ng-show="editMode==1" name="locationAddress2[{{addr.id}}]" ng-model="locationAddress2[{{addr.id}}]" ng-value="locationAddress2[{{addr.id}}]" placeholder="Address 2" class="address" />
						<input type="text" ng-show="editMode==1" name="locationAddressCity[{{addr.id}}]" ng-model="locationAddressCity[{{addr.id}}]" ng-value="locationAddressCity[{{addr.id}}]" placeholder="City" class="address" />
						<input type="text" ng-show="editMode==1" name="locationAddressState[{{addr.id}}]" ng-model="locationAddressState[{{addr.id}}]" ng-value="locationAddressState[{{addr.id}}]" placeholder="State" class="address" />
					</div>
				{% endfor %}
				<div class="submit-buttons" ng-show="editMode==1">
					<input type="submit" name="action" value="Save Contact" class="continue" />
				</div>
				<div class="header secondary">Terms</div>
				<div class="line"><span class="label">Task:</span>{{contract_info.description}}</div>
				<div class="line"><span class="label">Payment Total:</span>${{contract_info.total_worth}}</div>
				<div class="line"><span class="label">Project Duration:</span>{{contract_info.time_remaining}}</div>
				<div class="header secondary"><a href="#">View Contract</a></div>
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}
	<script src="{% static 'js/inflow.freelancer.active-use.app.js' %}?d=20180503"></script>
	<script src="{% static 'js/inflow.freelancer.active-use.controller.js' %}?d=20180503"></script>
{% endblock %}