{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}Create New Contract{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="create-contract-super-window">
			<div class="header">Create Contract</div>
			<div class="progress-bar">
				<span class="number one on"><span class="text">Project Information</span></span>
				<span class="number two"><span class="text">Milestones</span></span>
				<span class="number three"><span class="text">Optional Fees</span></span>
				<span class="number four"><span class="text">Work Overview</span></span>
				<span class="number five"><span class="text">Preview and Send</span></span>
				<div class="bar"></div>
			</div>
			<form class="contract-creation" method="post">
				<div class="header">Project Information</div>
				<div class="input-field text-single-line">
					<span class="label">Project Name:</span>
					<span class="field"><input type="text" placeholder="Name of Project" name="project-name" required /></span>
				</div>
				<div class="input-field radio-list">
					<span class="label">This project is based on:</span>
					<span class="field">
						<span class="radio">
							<input type="radio" name="contract-type" value="milestones" checked="checked" />
							<span class="label">Milestones/Deliverables</span>
						</span>
						<span class="radio">
							<input type="radio" name="contract-type" value="time" />
							<span class="label">Time</span>
						</span>
					</span>
				</div>
				<div class="input-field text-multi-line">
					<span class="label">Project Description:</span>
					<span class="field"><textarea name="description" placeholder="Describe the project" maxlength="500"></textarea></span>
					<div class="counter"><span class="count">0</span> / 500</div>
				</div>
				<div class="header sub">Client Information</div>
				<div class="input-field text-single-line">
					<span class="label">Company Name:</span>
					<span class="field"><input type="text" placeholder="Company Name" name="company-name" /></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Client's Billing Name*:</span>
					<span class="field"><input type="text" placeholder="Full Name" name="client-billing-name" required /></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Email*:</span>
					<span class="field"><input type="email" placeholder="Email Address" name="client-email" required /></span>
				</div>
				<div class="input-field text-single-line phone-number">
					<span class="label">Phone Number:</span>
					<span class="field">
						<input type="number" name="phone-area-1" placeholder="xxx" />
						<span class="hyphen">&mdash;</span>
						<input type="number" name="phone-area-2" placeholder="xxx" />
						<span class="hyphen">&mdash;</span>
						<input type="number" name="phone-area-3" placeholder="xxxx" />
					</span>
				</div>
				<div class="header sub">Business Location</div>
				<div class="input-field text-single-line">
					<span class="label">Business Address 1*:</span>
					<span class="field"><input type="text" placeholder="Business Address 1" name="client-business-address-1-1" required /></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Business Address 2:</span>
					<span class="field"><input type="text" placeholder="Business Address 2" name="client-business-address-2-1" /></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">City*:</span>
					<span class="field"><input type="text" placeholder="Business State or Province" name="client-business-address-city-1" required /></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">State or Province*:</span>
					<span class="field"><input type="text" placeholder="Business State or Province" name="client-business-address-state-1" required /></span>
				</div>
				<div class="addition-buttons">
					<a href="#">Add business location</a>
				</div>
				<div class="header sub">Ownership</div>
				<div class="input-field radio-list">
					<span class="label">Who owns this work:</span>
					<span class="field">
						<span class="radio">
							<input type="radio" name="who-owns" value="myself" checked="checked" />
							<span class="label">I own this work</span>
						</span>
						<span class="radio">
							<input type="radio" name="who-owns" value="client" />
							<span class="label">Client owns this work</span>
						</span>
					</span>
				</div>
				<div class="submit-buttons">
					<a href="{% url 'contracts:home' %}" class="btn">Back</a>
					<input type="submit" name="action" value="Continue" class="continue" />
				</div>
				<div class="submit-buttons alt">
					<input type="submit" name="action" value="Save for Later" class="later" />
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}
	<script src="{% static 'js/inflow.contract.js' %}"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.app.js' %}"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.controller.js' %}"></script>
{% endblock %}