{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}My Contacts{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content contacts-arrow">
		<div class="header">CONTACTS</div>
		<div class="accordian-holder">
			<div class="accordian contacts" ng-app="contactsAccordianApp" ng-controller="contactsAccordianCtrl" ng-init="openedContact=0">
				<div class="items">
					{% for c in contacts %}
						<div class="item" ng-class="{ 'opened' : openedContact=={{c.index}} }">
							<div class="title">Contact #{{c.index}}</div>
							<div class="row header" ng-class="{ 'on' : openedContact=={{c.index}} }">Contact Information</div>
							<div class="row" ng-class="{ 'on' : openedContact=={{c.index}} }"><span>Client Name:</span>{{c.recipient.BillingName}}</div>
							<div class="row" ng-class="{ 'on' : openedContact=={{c.index}} }"><span>Email:</span>{{c.recipient.EmailAddress}}</div>
							<div class="row" ng-class="{ 'on' : openedContact=={{c.index}} }"><span>Phone:</span>{{c.recipient.PhoneNumber}}</div>
							<div class="row header" ng-class="{ 'on' : openedContact=={{c.index}} }">Business Location</div>
							{% for addr in c.addresses %}
								<div class="row" ng-class="{ 'on' : openedContact=={{c.index}} }"><span>Address:</span><span class="multi-line">{{addr.Address1}} {{addr.Address2}}<br />{{addr.City}}, {{addr.State}}</span></div>
							{% endfor %}
							<div class="arrow" ng-click="openedContact={{c.index}}">
								<span ng-if="openedContact == {{c.index}}">&#9650;</span>
								<span ng-if="openedContact != {{c.index}}">&#9660;</span>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}
	<script src="{% static 'js/inflow.freelancer.active-use.app.js' %}?d=201804291700"></script>
	<script src="{% static 'js/inflow.freelancer.active-use.controller.js' %}?d=201804291700"></script>
{% endblock %}