{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}My Projects - Home{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="header">Projects</div>
		<div class="right-facing-button">
			{% if needs_stripe %}
				<div class="message-bubble">Set up Stripe in order to create your first project!</div>
				<a href="{% url 'accounts:edit_account' %}">Create Project</a>
			{% else %}
				<a href="{% url 'contracts:create_contract_step_1' %}">Create Project</a>
			{% endif %}
		</div>
		<table class="list">
			<thead>
				<tr>
					<th class="info">CURRENT PROJECTS</th>
					<th class="progress">PROGRESS</th>
					<th class="start-date">START DATE</th>
					<th class="end-date">END DATE</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% if projects|length == 0 %}
					<tr>
						<td colspan="5" class="empty-message">You do not currently have any projects. Create one now to get started!</td>
					</tr>
				{% endif %}
				{% for project in projects %}
					<tr>
						<td class="info">
							<span class="title">{{ project.project_title }}</span>
							<span class="description">{{ project.project_client }}</span>
						</td>
						<td class="progress">{{ project.progress }}</td>
						<td class="start-date">{{ project.start_date }}</td>
						<td class="end-date">{{ project.end_date }}</td>
						<td class="icon">
							{% if project.state == "c" %}
								<a href="{% url 'contracts:create_contract_step_1_edit' project.id %}"><img src="{% static 'img/if_Icon_search_1595640.png' %}" alt="Project Specific Page" class="specific-project" /></a>
							{% else %}
								<a href="{% url 'contracts:project_milestones' project.slug project.id %}"><img src="{% static 'img/if_Icon_search_1595640.png' %}" alt="Project Specific Page" class="specific-project" /></a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}