{% load staticfiles %}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
	<link rel="stylesheet" href="{% static 'css/hfbase.css' %}?d=201802" />
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}?d=201802" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
	<meta name="google-signin-client_id" content="857316650586-gm54140nh8ifnvls7s8acbntv3cp915e.apps.googleusercontent.com">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="dashboard-container">
		<header>
			<div class="content">
				<div class="logo">
					<a href="/">InFlow</a>
				</div>
				<nav>
					<ul>
						<li><a href="{% url 'base:dashboard' %}">Home</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Clients</a></li>
						<li><a href="#">Activity</a></li>
					</ul>
				</nav>
				<nav class="alt">
					<ul>
						<li><a href="#">Profile</a></li>
						<li>
							<span class="oval">!</span>
							<a href="#">Settings</a>
						</li>
						<li><a href="#">FAQs/Help</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			{% block main_tag %}{% endblock %}
		</main>
	</div>
	<script src="https://apis.google.com/js/platform.js"></script>
	<script src="{% static 'js/inflow.google.signout.handler.js' %}"></script>
</body>
</html>