{% extends 'base/header.no.sidebar.html' %}
{% block title %}Welcome to InFlow - On Boarding Step 2{% endblock %}
{% block main_tag %}
	<div class="content">
		<h1>Welcome, {{name}}!</h1>
		<div class="progress-bar">
			<span class="number one"></span>
			<span class="number two on"></span>
			<span class="number three"></span>
			<div class="bar"></div>
		</div>
		<form method="post" class="onboarding-form">
			<div class="question-text">Who are you primarily using this for?</div>
			<div class="radio-list">
				{% for work in work_with %}
					<span class="button"><input type="radio" name="work-with" value="{{work.0}}" />{{work.1}}</span>
				{% endfor %}
			</div>
			<div class="question-text">What features are you interested in?</div>
			<div class="radio-list">
				{% for interested in interested_in %}
					<span class="button"><input type="radio" name="feature" value="{{interested.0}}" />{{interested.1}}</span>
				{% endfor %}
			</div>
			<input type="submit" value="Continue" />
			{% csrf_token %}
			<div class="signup-link"><a href="{% url 'accounts:onboarding_1' %}">Go back</a></div>
		</form>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}