{% extends 'base/header.no.sidebar.html' %}
{% block title %}Welcome to InFlow - On Boarding Step 1{% endblock %}
{% block main_tag %}
	<div class="content">
		<h1>Welcome, {{name}}!</h1>
		<div class="progress-bar">
			<span class="number one on"></span>
			<span class="number two"></span>
			<span class="number three"></span>
			<div class="bar"></div>
		</div>
		<form method="post" class="onboarding-form">
			<div class="question-text">What kind of freelancer are you? <span class="sub-text">(Choose all that apply)</span></div>
			<div class="checkbox-list">
				{% for type in user_types %}
					<span class="checkbox">
						{% if type.Selected %}
							<input type="checkbox" name="{{type.Name}}" checked="checked" /><span>{{type.Name}}</span>
						{% else %}
							<input type="checkbox" name="{{type.Name}}" /><span>{{type.Name}}</span>
						{% endif %}
					</span>
				{% endfor %}
			</div>
			<div class="question-text">How often do you freelance?</div>
			<div class="radio-list">
				{% for frequency in frequencies %}
					<span class="button"><input type="radio" name="frequency" value="{{frequency.0}}" />{{frequency.1}}</span>
				{% endfor %}
			</div>
			<input type="submit" value="Continue" />
			{% csrf_token %}
		</form>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}