{% extends 'base/dashboard.base.lowfi.html' %}
{% load staticfiles %}
{% block title %}InFlow - Edit My Settings{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content outer">
		<div class="header">SETTINGS</div>
		<div class="ribbon three-buttons-one-non-button">
			<span class="on"><a href="{% url 'accounts:settings' %}">PROFILE</a></span>
			<span><a href="#">ACCOUNT</a></span>
			<span><a href="#">NOTIFICATIONS</a></span>
			<span class="non-button"><a href="#">Log out</a></span>
		</div>
		<div class="inner-content settings-profile">
			{% if error_message != "" %}
				<div class="error-message">{{error_message}}</div>
			{% endif %}
			<form class="settings-edit" method="post">
				<div class="label">Name</div>
				<div class="field"><input type="text" name="first-name" placeholder="First Name" value="{{first_name}}" required /></div>
				<div class="field"><input type="text" name="last-name" placeholder="Last Name" value="{{last_name}}" required /></div>
				<div class="label">Email</div>
				<div class="field"><input type="email" name="email-address" placeholder="email@email.com" value="{{email}}" required /></div>
				<div class="label">Phone Number</div>
				<div class="field"><input type="text" name="phone-number" placeholder="Phone number (optional)" value="{{phone_number}}" maxlength="20" /></div>
				<input type="submit" value="Update" />
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}