{% extends 'base/dashboard.base.lowfi.account.html' %}
{% load staticfiles %}
{% block title %}InFlow - Edit My Account{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content outer">
		<div class="header">SETTINGS</div>
		<div class="ribbon three-buttons-one-non-button">
			<span><a href="{% url 'accounts:settings' %}">PROFILE</a></span>
			<span><a href="{% url 'accounts:edit_account' %}">ACCOUNT</a></span>
			<span class="on"><a href="{% url 'accounts:notifications' %}">NOTIFICATIONS</a></span>
			<span class="non-button log-out"><a href="{% url 'accounts:login' %}">Log out</a></span>
		</div>
		<div class="inner-content notifications">
			{% if error_message != "" %}
				<div class="error-message">{{error_message}}</div>
			{% endif %}
			<form class="settings-edit" method="post">
				<div class="label">I want to receive emails about:</div>
				{% for not_setting in settings %}
					{% if not_setting.selected %}
						<div class="field checkbox"><input type="checkbox" name="checkbox-{{not_setting.id}}" checked="checked" />&nbsp;{{not_setting.text}}</div>
					{% else %}
						<div class="field checkbox"><input type="checkbox" name="checkbox-{{not_setting.id}}" />&nbsp;{{not_setting.text}}</div>
					{% endif %}
				{% endfor %}
				<input type="submit" value="Update" />
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}