{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content contract">
		<div class="info-window">
			<div class="header">Congratulations!</div>
			<div class="sub-header">Your contract has been sent to the client for review.</div>
			<div>A confirmation email has been sent to you at email@email.com. You may check the status of the review process any time in your Dashboard.</div>
			<div class="buttons"><a href="#" class="btn">Go To Dashboard</a></div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}