{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links smaller"></div>
	<div class="create-contract-super-window">
		<div class="header">Create Contract</div>
		<div class="progress-bar">
			<span class="number one on"><span class="text">Project Information</span></span>
			<span class="number two"><span class="text">Milestones</span></span>
			<span class="number three"><span class="text">Optional Fees</span></span>
			<span class="number four"><span class="text">Work Overview</span></span>
			<span class="number five"><span class="text">Preview and Send</span></span>
			<div class="bar"></div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}