{% extends 'base/dashboard.base.demo.html' %}
{% block extra_styles %}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block title %}Inflow My Project Dashboard - Contract Creation - Extra Fess{% endblock %}
{% block main_tag %}
	<div class="back-links smaller"></div>
	<div class="create-contract-super-window">
		<div class="header">Create Contract</div>
		<div class="progress-bar">
			<span class="number one done"><span class="text">Project Information</span></span>
			<span class="number two done"><span class="text">Milestones</span></span>
			<span class="number three on"><span class="text">Optional Fees</span></span>
			<span class="number four"><span class="text">Work Overview</span></span>
			<span class="number five"><span class="text">Preview and Send</span></span>
			<div class="bar"></div>
		</div>
		<form class="contract-creation" method="post">
			<div class="header">Optional Fees</div>
			<div class="mini-field-line">
				<div class="input-field mini-field">
					<span class="label">Extra Revision Fee (optional):</span>
					<span class="field"><input type="number" placeholder="$0.00" name="extra-revision-fee" /></span>
				</div>
			</div>
			<div class="mini-field-line">
				<div class="input-field mini-field">
					<span class="label">Request for Change Fee (optional):</span>
					<span class="field"><input type="number" placeholder="$0.00" name="request-change-fee" /></span>
				</div>
			</div>
			<div class="mini-field-line">
				<div class="input-field mini-field">
					<span class="label">Charge for Late Review (optional):</span>
					<span class="field"><input type="number" placeholder="$0.00" name="charge-late-fee" /></span>
				</div>
			</div>
			<div class="mini-field-line">
				<div class="input-field mini-field">
					<span class="label">Kill Fee (optional):</span>
					<span class="field"><input type="number" placeholder="$0.00" name="kill-fee" /></span>
				</div>
			</div>
			<div class="submit-buttons">
				<input type="submit" name="action" value="Back" />
				<input type="submit" name="action" value="Continue" class="continue" />
			</div>
			<div class="submit-buttons alt">
				<input type="submit" name="action" value="Save for Later" class="later" />
			</div>
		</form>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}