{% extends 'base/dashboard.base.demo.html' %}
{% block extra_styles %}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block title %}Inflow My Project Dashboard - Contract Creation - Overview - Lump Sum{% endblock %}
{% block main_tag %}
	<div class="back-links smaller"></div>
	<div class="create-contract-super-window">
		<div class="header">Work Overview</div>
		<div class="progress-bar">
			<span class="number one done"><span class="text">Project Information</span></span>
			<span class="number two done"><span class="text">Milestones</span></span>
			<span class="number three done"><span class="text">Optional Fees</span></span>
			<span class="number four on"><span class="text">Work Overview</span></span>
			<span class="number five"><span class="text">Preview and Send</span></span>
			<div class="bar"></div>
		</div>
		<form class="contract-creation" method="post">
			<div class="header">Work Overview</div>
			<div class="overview-section">
				<div class="header">Project Information<a href="#">Edit</a></div>
				<div class="input-field text-single-line">
					<span class="label">Project Name:</span>
					<span class="field"><span class="text">Sample Project Name</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Project Description:</span>
					<span class="field"><span class="text">Sample Project Description Sample</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Name of Contact:</span>
					<span class="field"><span class="text">Contact Name</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Company Name:</span>
					<span class="field"><span class="text">AT&amp;T</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Email:</span>
					<span class="field"><span class="text">client@email.com</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Phone:</span>
					<span class="field"><span class="text">(123) 555-5555</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Address:</span>
					<span class="field"><span class="text">3434 Goldenrod Road<br />Apartment 3C<br />Orlando, FL 32792<br />United States</span></span>
				</div>
			</div>
			<div class="overview-section">
				<div class="header">Milestones<a href="#">Edit</a></div>
				<div class="input-field text-single-line">
					<span class="label">Total Milestone/Project Cost:</span>
					<span class="field"><span class="text">$10,290.90</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Down Payment (Custom):</span>
					<span class="field"><span class="text">$500</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Total Number of Revisions:</span>
					<span class="field"><span class="text">3</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Charging by:</span>
					<span class="field"><span class="text">Lump Sum</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Auto-Add Processing Fee Charge:</span>
					<span class="field"><span class="text">Yes</span></span>
				</div>
				<div class="header sub">Milestone #1</div>
				<div class="input-field text-single-line">
					<span class="label">Milestone Name:</span>
					<span class="field"><span class="text">Maps</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Task Description:</span>
					<span class="field"><span class="text">Task Description here</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Milestone Amount:</span>
					<span class="field"><span class="text">$3,087.30</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Milestone Deadline:</span>
					<span class="field"><span class="text">3/15/18</span></span>
				</div>
				<div class="header sub">Milestone #2</div>
				<div class="input-field text-single-line">
					<span class="label">Milestone Name:</span>
					<span class="field"><span class="text">Wireframes</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Task Description:</span>
					<span class="field"><span class="text">Task Description here</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Milestone Amount:</span>
					<span class="field"><span class="text">$3,087.30</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Milestone Deadline:</span>
					<span class="field"><span class="text">3/15/18</span></span>
				</div>
				<div class="header sub">Milestone #3</div>
				<div class="input-field text-single-line">
					<span class="label">Milestone Name:</span>
					<span class="field"><span class="text">Designs</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Task Description:</span>
					<span class="field"><span class="text">Task Description here</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Milestone Amount:</span>
					<span class="field"><span class="text">$4,116.30</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Milestone Deadline:</span>
					<span class="field"><span class="text">3/15/18</span></span>
				</div>
			</div>
			<div class="overview-section">
				<div class="header">Optional Fees<a href="#">Edit</a></div>
				<div class="input-field text-single-line">
					<span class="label">Extra Revision Fee:</span>
					<span class="field"><span class="text">$50</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Request for Change Fee:</span>
					<span class="field"><span class="text">$50</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Late Review Fee:</span>
					<span class="field"><span class="text">$50</span></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label">Kill Fee:</span>
					<span class="field"><span class="text">$500</span></span>
				</div>
			</div>
			<div class="disclaimer">When you click ‘Create Contract,’ you agree that all information entered is accurate.</div>
			<div class="submit-buttons">
				<input type="submit" name="action" value="Back" />
				<input type="submit" name="action" value="Continue" class="continue" />
			</div>
			<div class="submit-buttons alt">
				<input type="submit" name="action" value="Save for Later" class="later" />
			</div>
		</form>
	</div>
{% endblock %}