{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="create-contract-super-window">
		<div class="header">Create Contract</div>
		<div class="progress-bar">
			<span class="number one on">Project Information</span>
			<span class="number two">Milestones</span>
			<span class="number three">Optional Fees</span>
			<span class="number four">Work Overview</span>
			<span class="number five">Preview and Send</span>
			<div class="bar"></div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}