{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}Create New Contract - Step 4 - {{contract_info.Name}}{% endblock %}
{% block head_script %}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="create-contract-super-window">
			<div class="header">Create Contract</div>
			<div class="progress-bar">
				<span class="number one done"><a href="{% url 'contracts:create_contract_step_1_edit' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Project Information</span></span>
				<span class="number two done"><a href="{% url 'contracts:create_contract_step_2' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Milestones</span></span>
				<span class="number three done"><a href="{% url 'contracts:create_contract_step_3' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Optional Fees</span></span>
				<span class="number four on"><span class="text">Work Overview</span></span>
				<span class="number five"><span class="text">Preview and Send</span></span>
				<div class="bar"></div>
			</div>
			<form class="contract-creation review-contract" name="contractCreationStep4" method="post" action="{% url 'contracts:create_contract_step_4' contract_info.id %}" ng-app="createContractStepFourApp" ng-controller="createContractStepFourCtrl" ng-init="editModeLabels=['Edit','Edit','Edit'];editMode='';currentlyEditing=''">
				<div class="header">Work Overview</div>
				
				<!-- Display Error Messages -->
				<div class="input-field text-single-line" ng-show="contractCreationStep4.contractName.$touched && contractCreationStep4.contractName.$invalid">
					<span class="error-msg">The project name is required.</span>
				</div>
				<div class="input-field text-single-line" ng-show="contractCreationStep4.billingName.$touched && contractCreationStep4.billingName.$invalid">
					<span class="error-msg">Contact Billing name is required.</span>
				</div>
				<div class="input-field text-single-line" ng-show="contractCreationStep4.billingEmail.$touched && contractCreationStep4.billingEmail.$invalid">
					<span class="error-msg">Valid contact Email Address is required.</span>
				</div>
				{% for addr in contract_recipient_addresses %}
					<div class="input-field text-single-line" ng-show="(contractCreationStep4.address1{{addr.id}}.$touched && contractCreationStep4.address1{{addr.id}}.$invalid) || (contractCreationStep4.addressCity{{addr.id}}.$touched && contractCreationStep4.addressCity{{addr.id}}.$invalid) || (contractCreationStep4.addressState{{addr.id}}.$touched && contractCreationStep4.addressState{{addr.id}}.$invalid)">
						<span class="error-msg">All addresses need their required fields</span>
					</div>
				{% endfor %}
				
				<div class="overview-section">
					<div class="header">
						Project Information
						<a href="{% url 'contracts:create_contract_step_1_edit' contract_info.id %}?from-step=4" class="go-to-edit-mode">Edit</a>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='project-information'}" ng-click="changeWhatWeAreEditing('contractName')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label" ng-class="{'error' : contractCreationStep4.contractName.$touched && contractCreationStep4.contractName.$invalid}">Project Name:</span>
						<span class="field">
							<span class="text" ng-bind="contractName" ng-init="contractName='{{contract_info.Name}}'" ng-class="{'on' : currentlyEditing!='contractName'}"></span>
							<input type="text" placeholder="Name of Project" name="contractName" ng-model="contractName" ng-value="contractName" ng-class="{'on' : currentlyEditing=='contractName'}" required />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='project-information'}" ng-click="changeWhatWeAreEditing('contractDescription')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label">Project Description:</span>
						<span class="field">
							<span class="text" ng-bind="contractDescription" ng-init="contractDescription='{{contract_info.Description}}'" ng-class="{'on' : currentlyEditing!='contractDescription'}"></span>
							<input type="text" placeholder="Project Description" name="contractDescription" ng-model="contractDescription" ng-value="contractDescription" ng-class="{'on' : currentlyEditing=='contractDescription'}" />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='project-information'}" ng-click="changeWhatWeAreEditing('nameOfContact')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label">Name of Contact:</span>
						<span class="field">
							<span class="text" ng-bind="nameOfContact" ng-init="nameOfContact='{{contract_recipient.Name}}'" ng-class="{'on' : currentlyEditing!='nameOfContact'}"></span>
							<input type="text" placeholder="Name of Project Contact" name="nameOfContact" ng-model="nameOfContact" ng-value="nameOfContact" ng-class="{'on' : currentlyEditing=='nameOfContact'}" />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='project-information'}" ng-click="changeWhatWeAreEditing('billingName')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label" ng-class="{'error' : contractCreationStep4.billingName.$touched && contractCreationStep4.billingName.$invalid}">Company Name:</span>
						<span class="field">
							<span class="text" ng-bind="billingName" ng-init="billingName='{{contract_recipient.BillingName}}'" ng-class="{'on' : currentlyEditing!='billingName'}"></span>
							<input type="text" placeholder="Name of Project Contact" name="billingName" ng-model="billingName" ng-value="billingName" ng-class="{'on' : currentlyEditing=='billingName'}" required />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='project-information'}" ng-click="changeWhatWeAreEditing('billingEmail')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label" ng-class="{'error' : contractCreationStep4.billingEmail.$touched && contractCreationStep4.billingEmail.$invalid}">Email:</span>
						<span class="field">
							<span class="text" ng-bind="billingEmail" ng-init="billingEmail='{{contract_recipient.EmailAddress}}'" ng-class="{'on' : currentlyEditing!='billingEmail'}"></span>
							<input type="email" placeholder="Name of Project Contact" name="billingEmail" ng-model="billingEmail" ng-value="billingEmail" ng-class="{'on' : currentlyEditing=='billingEmail'}" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='project-information'}" ng-click="changeWhatWeAreEditing('phoneNumber')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label">
							Phone:
						</span>
						<span class="field">
							<span class="text" ng-bind="phoneNumber" ng-init="phoneNumber='{{contract_recipient.PhoneNumber}}'" ng-class="{'on' : currentlyEditing!='phoneNumber'}"></span>
							<input type="text" placeholder="(xxx) xxx-xxxx" name="phoneNumber" ng-value="phoneNumber" ng-model="phoneNumber" ng-class="{'on' : currentlyEditing=='phoneNumber'}" />
						</span>
					</div>
					{% for addr in contract_recipient_addresses %}
						<div class="input-field text-single-line">
							<span class="pencil-edit" ng-class="{'on': editMode=='project-information'}" ng-click="changeWhatWeAreEditing('address{{addr.id}}')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
							<span class="label" ng-class="{'error' : (contractCreationStep4.address1{{addr.id}}.$touched && contractCreationStep4.address1{{addr.id}}.$invalid) || (contractCreationStep4.addressCity{{addr.id}}.$touched && contractCreationStep4.addressCity{{addr.id}}.$invalid) || (contractCreationStep4.addressState{{addr.id}}.$touched && contractCreationStep4.addressState{{addr.id}}.$invalid)}">
								Address:
							</span>
							<span class="field">
								<span class="text" ng-bind="address1{{addr.id}}" ng-init="address1{{addr.id}}='{{addr.Address1}}'" ng-class="{'on' : currentlyEditing!='address{{addr.id}}'}"></span>
								<span ng-show="address2{{addr.id}}!=''" class="text" ng-bind="address2{{addr.id}}" ng-init="address2{{addr.id}}='{{addr.Address2}}'" ng-class="{'on' : currentlyEditing!='address{{addr.id}}'}"></span>
								<span class="text" ng-init="addressCity{{addr.id}}='{{addr.City}}';addressState{{addr.id}}='{{addr.State}}'" ng-class="{'on' : currentlyEditing!='address{{addr.id}}'}">
									<span ng-bind="addressCity{{addr.id}}"></span>,&nbsp;<span ng-bind="addressState{{addr.id}}"></span>
								</span>
								<span class="text" ng-bind="addressCountryName{{addr.id}}" ng-init="addressCountryName{{addr.id}}='{{addr.Country.Name}}'" ng-class="{'on' : currentlyEditing!='address{{addr.id}}'}"></span>
								<input type="text" placeholder="Address 1" name="address1{{addr.id}}" ng-model="address1{{addr.id}}" ng-value="address1{{addr.id}}" ng-class="{'on' : currentlyEditing=='address{{addr.id}}'}" required />
								<input type="text" placeholder="Address 2" name="address2{{addr.id}}" ng-model="address2{{addr.id}}" ng-value="address2{{addr.id}}" ng-class="{'on' : currentlyEditing=='address{{addr.id}}'}" />
								<input type="text" placeholder="City" name="addressCity{{addr.id}}" ng-model="addressCity{{addr.id}}" ng-value="addressCity{{addr.id}}" ng-class="{'on' : currentlyEditing=='address{{addr.id}}'}" required />
								<input type="text" placeholder="State" name="addressState{{addr.id}}" ng-model="addressState{{addr.id}}" ng-value="addressState{{addr.id}}" ng-class="{'on' : currentlyEditing=='address{{addr.id}}'}" required />
							</span>
						</div>
					{% endfor %}
				</div>
				<div class="overview-section">
					<div class="header">Milestones<div class="go-to-edit-mode" ng-click="changeEditMode('milestones',1)" ng-bind="editModeLabels[1]"></div></div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='milestones'}" ng-click="changeWhatWeAreEditing('totalMilestoneProjectCost')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label" ng-class="{'error' : contractCreationStep4.totalMilestoneProjectCost.$touched && contractCreationStep4.totalMilestoneProjectCost.$invalid}">Total Milestone/Project Cost:</span>
						<span class="field">
							<span class="text" ng-class="{'on' : currentlyEditing!='totalMilestoneProjectCost'}">$&nbsp;</span><span class="text" ng-bind="totalMilestoneProjectCost" ng-init="totalMilestoneProjectCost={{contract_info.TotalContractWorth}}" ng-class="{'on' : currentlyEditing!='totalMilestoneProjectCost'}"></span>
							<input type="number" placeholder="Total Milestone/Project Cost" name="totalMilestoneProjectCost" ng-model="totalMilestoneProjectCost" ng-value="totalMilestoneProjectCost" ng-class="{'on' : currentlyEditing=='totalMilestoneProjectCost'}" />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='milestones'}" ng-click="changeWhatWeAreEditing('downPaymentAmount')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label" ng-class="{'error' : contractCreationStep4.downPaymentAmount.$touched && contractCreationStep4.downPaymentAmount.$invalid}">Down Payment (Custom):</span>
						<span class="field">
							<span class="text" ng-class="{'on' : currentlyEditing!='downPaymentAmount'}">$&nbsp;</span><span class="text" ng-bind="downPaymentAmount" ng-init="downPaymentAmount={{contract_info.DownPaymentAmount}}" ng-class="{'on' : currentlyEditing!='downPaymentAmount'}"></span>
							<input type="number" placeholder="Down Payment" name="downPaymentAmount" ng-model="downPaymentAmount" ng-value="downPaymentAmount" ng-class="{'on' : currentlyEditing=='downPaymentAmount'}" />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='milestones'}" ng-click="changeWhatWeAreEditing('totalNumberOfRevisions')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label" ng-class="{'error' : contractCreationStep4.totalNumberOfRevisions.$touched && contractCreationStep4.totalNumberOfRevisions.$invalid}">Total Number of Revisions:</span>
						<span class="field">
							<span class="text" ng-bind="totalNumberOfRevisions" ng-init="totalNumberOfRevisions={{contract_info.NumberOfAllowedRevisions}}" ng-class="{'on' : currentlyEditing!='totalNumberOfRevisions'}"></span>
							<input type="number" placeholder="Total Number of Revisions" name="totalNumberOfRevisions" ng-model="totalNumberOfRevisions" ng-value="totalNumberOfRevisions" ng-class="{'on' : currentlyEditing=='totalNumberOfRevisions'}" required />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Charging by:</span>
						<span class="field">
							<span class="text on" ng-init="contractType='{{contract_info.ContractType}}'">{% if contract_info.ContractType == 'd' %}Lump Sum{% else %}Hourly Rate{% endif %}</span>
						</span>
					</div>
					<div class="input-field text-single-line" ng-show="contractType=='t'">
						<span class="pencil-edit" ng-class="{'on': editMode=='milestones'}" ng-click="changeWhatWeAreEditing('hourlyRate')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label" ng-class="{'error' : contractCreationStep4.hourlyRate.$touched && contractCreationStep4.hourlyRate.$invalid}">Hourly Rate:</span>
						<span class="field">
							<span class="text" ng-bind="hourlyRate" ng-init="hourlyRate={{contract_info.HourlyRate}}" ng-class="{'on' : currentlyEditing!='hourlyRate'}"></span>
							<input type="number" placeholder="Hourly Rate" name="hourlyRate" ng-model="hourlyRate" ng-value="hourlyRate" ng-class="{'on' : currentlyEditing=='hourlyRate'}" ng-required="contractType=='t'" />
						</span>
					</div>
					{% for ms in milestones %}
						<div class="header sub">Milestone #{{ms.index}}</div>
						<div class="input-field text-single-line">
							<span class="pencil-edit" ng-class="{'on': editMode=='milestones'}" ng-click="changeWhatWeAreEditing('milestoneName{{ms.index}}')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
							<span class="label" ng-class="{'error' : contractCreationStep4.milestoneName{{ms.index}}.$touched && contractCreationStep4.milestoneName{{ms.index}}.$invalid}">Milestone Name:</span>
							<span class="field">
								<span class="text" ng-bind="milestoneName{{ms.index}}" ng-init="milestoneName{{ms.index}}='{{ms.name}}'" ng-class="{'on' : currentlyEditing!='milestoneName{{ms.index}}'}"></span>
								<input type="text" placeholder="Milestone Name" name="milestoneName{{ms.index}}" ng-model="milestoneName{{ms.index}}" ng-value="milestoneName{{ms.index}}" ng-class="{'on' : currentlyEditing=='milestoneName{{ms.index}}'}" required />
							</span>
						</div>
						<div class="input-field text-single-line">
							<span class="pencil-edit" ng-class="{'on': editMode=='milestones'}" ng-click="changeWhatWeAreEditing('milestoneDescription{{ms.index}}')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
							<span class="label" ng-class="{'error' : contractCreationStep4.milestoneDescription{{ms.index}}.$touched && contractCreationStep4.milestoneDescription{{ms.index}}.$invalid}">Task Description:</span>
							<span class="field">
								<span class="text" ng-bind="milestoneDescription{{ms.index}}" ng-init="milestoneDescription{{ms.index}}='{{ms.description}}'" ng-class="{'on' : currentlyEditing!='milestoneDescription{{ms.index}}'}"></span>
								<input type="text" placeholder="Task Description" name="milestoneDescription{{ms.index}}" ng-model="milestoneDescription{{ms.index}}" ng-value="milestoneDescription{{ms.index}}" ng-class="{'on' : currentlyEditing=='milestoneDescription{{ms.index}}'}" />
							</span>
						</div>
						<div class="input-field text-single-line" ng-show="contractType=='t'">
							<span class="pencil-edit" ng-class="{'on': editMode=='milestones'}" ng-click="changeWhatWeAreEditing('estimateHourCompletion{{ms.index}}')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
							<span class="label" ng-class="{'error' : contractCreationStep4.estimateHourCompletion{{ms.index}}.$touched && contractCreationStep4.estimateHourCompletion{{ms.index}}.$invalid}">Estimate of Hours to Completion:</span>
							<span class="field">
								<span class="text" ng-bind="estimateHourCompletion{{ms.index}}" ng-init="estimateHourCompletion{{ms.index}}={{ms.estimateHourCompletion}}" ng-class="{'on' : currentlyEditing!='estimateHourCompletion{{ms.index}}'}"></span>
								<input type="number" placeholder="Estimate of Hours to Completion" name="estimateHourCompletion{{ms.index}}" ng-model="estimateHourCompletion{{ms.index}}" ng-value="estimateHourCompletion{{ms.index}}" ng-class="{'on' : currentlyEditing=='estimateHourCompletion{{ms.index}}'}" ng-change="updateTotals(true)" ng-required="contractType=='t'" />
							</span>
						</div>
						<div class="input-field text-single-line">
							<span class="pencil-edit" ng-class="{'on': editMode=='milestones'}" ng-click="changeWhatWeAreEditing('milestoneTotal{{ms.index}}')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
							<span class="label" ng-class="{'error' : contractCreationStep4.milestoneTotal{{ms.index}}.$touched && contractCreationStep4.milestoneTotal{{ms.index}}.$invalid}">Milestone Amount:</span>
							<span class="field">
								<span class="text" ng-class="{'on' : currentlyEditing!='milestoneTotal{{ms.index}}'}">$&nbsp;</span><span class="text" ng-bind="milestoneTotal{{ms.index}}" ng-init="milestoneTotal{{ms.index}}={{ms.totalMilestoneAmount}}" ng-class="{'on' : currentlyEditing!='milestoneTotal{{ms.index}}'}"></span>
								<input type="number" placeholder="Task Description" name="milestoneTotal{{ms.index}}" ng-model="milestoneTotal{{ms.index}}" ng-value="milestoneTotal{{ms.index}}" ng-class="{'on' : currentlyEditing=='milestoneTotal{{ms.index}}'}" ng-change="updateTotals(false)" required />
							</span>
						</div>
						<div class="input-field date text-single-line">
							<span class="pencil-edit" ng-class="{'on': editMode=='milestones'}" ng-click="changeWhatWeAreEditing('milestoneDeadline{{ms.index}}')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
							<span class="label" ng-class="{'error' : contractCreationStep4.milestoneDeadline{{ms.index}}.$touched && contractCreationStep4.milestoneDeadline{{ms.index}}.$invalid}">Milestone Deadline:</span>
							<span class="field">
								<span class="text" ng-bind="milestoneDeadline{{ms.index}}" ng-init="milestoneDeadline{{ms.index}}='{{ms.milestoneDeadline}}'" ng-class="{'on' : currentlyEditing!='milestoneDeadline{{ms.index}}'}"></span>
								<input type="text" placeholder="Deadline" name="milestoneDeadline{{ms.index}}" ng-model="milestoneDeadline{{ms.index}}" ng-value="milestoneDeadline{{ms.index}}" ng-class="{'on' : currentlyEditing=='milestoneDeadline{{ms.index}}'}" required />
							</span>
						</div>
					{% endfor %}
				</div>
				<div class="overview-section">
					<div class="header">Optional Fees<div class="go-to-edit-mode" ng-click="changeEditMode('optional-fees',2)" ng-bind="editModeLabels[2]"></div></div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='optional-fees'}" ng-click="changeWhatWeAreEditing('extraRevisionFee')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label">Extra Revision Fee:</span>
						<span class="field">
							<span class="text" ng-class="{'on' : currentlyEditing!='extraRevisionFee'}">$&nbsp;</span><span class="text" ng-bind="extraRevisionFee" ng-init="extraRevisionFee={{contract_info.ExtraRevisionFee}}" ng-class="{'on' : currentlyEditing!='extraRevisionFee'}"></span>
							<input type="number" placeholder="Extra Revision Fee" name="extraRevisionFee" ng-model="extraRevisionFee" ng-value="extraRevisionFee" ng-class="{'on' : currentlyEditing=='extraRevisionFee'}" />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='optional-fees'}" ng-click="changeWhatWeAreEditing('lateReviewFee')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label">Late Review Fee:</span>
						<span class="field">
							<span class="text" ng-class="{'on' : currentlyEditing!='lateReviewFee'}">$&nbsp;</span><span class="text" ng-bind="lateReviewFee" ng-init="lateReviewFee={{contract_info.ChargeForLateReview}}" ng-class="{'on' : currentlyEditing!='lateReviewFee'}"></span>
							<input type="number" placeholder="Late Review Fee" name="lateReviewFee" ng-model="lateReviewFee" ng-value="lateReviewFee" ng-class="{'on' : currentlyEditing=='lateReviewFee'}" />
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="pencil-edit" ng-class="{'on': editMode=='optional-fees'}" ng-click="changeWhatWeAreEditing('killFee')"><img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" /></span>
						<span class="label">Early Termination Fee:</span>
						<span class="field">
							<span class="text" ng-class="{'on' : currentlyEditing!='killFee'}">$&nbsp;</span><span class="text" ng-bind="killFee" ng-init="killFee={{contract_info.KillFee}}" ng-class="{'on' : currentlyEditing!='killFee'}"></span>
							<input type="number" placeholder="Early Termination Fee" name="killFee" ng-model="killFee" ng-value="killFee" ng-class="{'on' : currentlyEditing=='killFee'}" />
						</span>
					</div>
				</div>
				<div class="submit-buttons">
					<a href="{% url 'contracts:create_contract_step_3' contract_info.id %}" class="btn">Back</a>
					<input type="submit" name="action" value="Continue" class="continue" />
				</div>
				<div class="submit-buttons alt">
					<input type="submit" name="action" value="Save for Later" class="later" />
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}
	<script src="{% static 'js/inflow.contract.js' %}?d=20180415"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.app.js' %}?d=20180511"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.controller.js' %}?d=20180511"></script>
{% endblock %}