{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}Create New Contract - Step 4 - {{contract_info.Name}}{% endblock %}
{% block head_script %}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="create-contract-super-window">
			<div class="header">Create Contract</div>
			<div class="progress-bar">
				<span class="number one done"><a href="{% url 'contracts:create_contract_step_1_edit' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Project Information</span></span>
				<span class="number two done"><a href="{% url 'contracts:create_contract_step_2' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Milestones</span></span>
				<span class="number three done"><a href="{% url 'contracts:create_contract_step_3' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Optional Fees</span></span>
				<span class="number four on"><span class="text">Work Overview</span></span>
				<span class="number five"><span class="text">Preview and Send</span></span>
				<div class="bar"></div>
			</div>
			<form class="contract-creation review-contract" name="contractCreationStep4" method="post" action="{% url 'contracts:create_contract_step_4' contract_info.id %}">
				<div class="header">Work Overview</div>
				<div class="overview-section">
					<div class="header">
						Project Information
						<a href="{% url 'contracts:create_contract_step_1_edit' contract_info.id %}?from-step=4" class="go-to-edit-mode">Edit</a>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Project Name:</span>
						<span class="field">
							<span class="text on">{{contract_info.Name}}</span>
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Project Description:</span>
						<span class="field">
							<span class="text on">{{contract_info.Description}}</span>
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Name of Contact:</span>
						<span class="field">
							<span class="text on">{{contract_recipient.Name}}</span>
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Company Name:</span>
						<span class="field">
							<span class="text on">{{contract_recipient.BillingName}}</span>
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Email:</span>
						<span class="field">
							<span class="text on">{{contract_recipient.EmailAddress}}</span>
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Phone:</span>
						<span class="field">
							<span class="text on">{{contract_recipient.PhoneNumber}}</span>
						</span>
					</div>
					{% for addr in contract_recipient_addresses %}
						<div class="input-field text-single-line">
							<span class="label">Address:</span>
							<span class="field">
								<span class="text on">{{addr.Address1}}</span>
								<span class="text on">{{addr.Address2}}</span>
								<span class="text on">{{addr.City}},&nbsp;{{addr.State}}</span>
								<span class="text on">{{addr.Country.Name}}</span>
							</span>
						</div>
					{% endfor %}
				</div>
				<div class="overview-section">
					<div class="header">
						Milestones
						<a href="{% url 'contracts:create_contract_step_2' contract_info.id %}?from-step=4" class="go-to-edit-mode">Edit</a>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Total Milestone/Project Cost:</span>
						<span class="field">
							<span class="text on">{{contract_info.TotalContractWorth}}</span>
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Down Payment (Custom):</span>
						<span class="field">
							<span class="text on">{{contract_info.DownPaymentAmount}}</span>
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Total Number of Revisions:</span>
						<span class="field">
							<span class="text on">{{contract_info.NumberOfAllowedRevisions}}</span>
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Charging by:</span>
						<span class="field">
							<span class="text on">{% if contract_info.ContractType == 'd' %}Lump Sum{% else %}Hourly Rate{% endif %}</span>
						</span>
					</div>
					{% if contract_info.ContractType == 't' %}
						<div class="input-field text-single-line">
							<span class="label">Hourly Rate:</span>
							<span class="field">
								<span class="text on">{{contract_info.HourlyRate}}</span>
							</span>
						</div>
					{% endif %}
					{% for ms in milestones %}
						<div class="header sub">Milestone #{{ms.index}}</div>
						<div class="input-field text-single-line">
							<span class="label">Milestone Name:</span>
							<span class="field">
								<span class="text on">{{ms.name}}</span>
							</span>
						</div>
						<div class="input-field text-single-line">
							<span class="label">Task Description:</span>
							<span class="field">
								<span class="text on">{{ms.description}}</span>
							</span>
						</div>
						{% if contract_info.ContractType == 't' %}
							<div class="input-field text-single-line">
								<span class="label">Estimate of Hours to Completion:</span>
								<span class="field">
									<span class="text on">{{ms.estimateHourCompletion}}</span>
								</span>
							</div>
						{% endif %}
						<div class="input-field text-single-line">
							<span class="label">Milestone Amount:</span>
							<span class="field">
								<span class="text on">{{ms.totalMilestoneAmount}}</span>
							</span>
						</div>
						<div class="input-field date text-single-line">
							<span class="label">Milestone Deadline:</span>
							<span class="field">
								<span class="text on">{{ms.milestoneDeadline}}</span>
							</span>
						</div>
					{% endfor %}
				</div>
				<div class="overview-section">
					<div class="header">
						Optional Fees
						<a href="{% url 'contracts:create_contract_step_3' contract_info.id %}?from-step=4" class="go-to-edit-mode">Edit</a>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Extra Revision Fee:</span>
						<span class="field">
							<span class="text on">{{contract_info.ExtraRevisionFee}}</span>
						</span>
					</div>
					<div class="input-field text-single-line">
						<span class="label">Request for Change Fee:</span>
						<span class="field">
							<span class="text on">{{contract_info.ChargeForLateReview}}</span>
						</span>
					</div>
					{% if contract_late_review_charge.information %}
						<div class="input-field text-single-line">
							<span class="label">Late Review Fee:</span>
							<span class="field">
								<span class="text on">{{contract_late_review_charge.amount}} {{contract_late_review_charge.frequency}}</span>
							</span>
						</div>
					{% endif %}
					<div class="input-field text-single-line">
						<span class="label">Early Termination Fee:</span>
						<span class="field">
							<span class="text on">{{contract_info.KillFee}}</span>
						</span>
					</div>
				</div>
				<div class="submit-buttons">
					<a href="{% url 'contracts:create_contract_step_3' contract_info.id %}" class="btn">Back</a>
					<input type="submit" name="action" value="Continue" class="continue" />
				</div>
				<div class="submit-buttons alt">
					<input type="submit" name="action" value="Save for Later" class="later" />
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}
	<script src="{% static 'js/inflow.contract.js' %}?d=20180415"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.app.js' %}?d=201806"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.controller.js' %}?d=201806"></script>
{% endblock %}