{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}Create New Contract - Step 5 - {{contract_info.Name}}{% endblock %}
{% block head_script %}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="create-contract-super-window">
			<div class="header">Create Contract</div>
			<div class="progress-bar">
				<span class="number one done"><a href="{% url 'contracts:create_contract_step_1_edit' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Project Information</span></span>
				<span class="number two done"><a href="{% url 'contracts:create_contract_step_2' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Milestones</span></span>
				<span class="number three done"><a href="{% url 'contracts:create_contract_step_3' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Optional Fees</span></span>
				<span class="number four done"><a href="{% url 'contracts:create_contract_step_4' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Work Overview</span></span>
				<span class="number five on"><span class="text">Preview and Send</span></span>
				<div class="bar"></div>
			</div>
			<form class="contract-creation" name="contractCreationStep5" method="post" action="{% url 'contracts:create_contract_step_5' contract_info.id %}" ng-app="createContractStepFiveApp" ng-controller="createContractStepFiveCtrl" ng-init="mode='';primaryEditLabel='Edit';currentlyEdit=''">
				<div class="header">Preview Contract Details</div>
				<div class="header instruction">Please review the following contract agreement and make any edits as you see fit.</div>
				<div class="buttons">
					<a href="#" class="btn">Upload New</a>
					<a href="#" class="btn">Export to PDF</a>
					<a href="#" class="btn">Download</a>
				</div>
				<div class="contract-preview-window">
					<div class="inner-window" ng-class="{'edit-mode' : mode=='edit'}">
						<p>CONTRACT<span class="edit" ng-bind="primaryEditLabel" ng-click="changeEditMode()"></span></p>
						{% for p in paragraphs %}
							<p>
								<span ng-bind="contractParagraph[{{p.id}}]" ng-init="contractParagraph[{{p.id}}]='{{p.ParagraphText}}'" ng-show="currentlyEdit!='{{p.id}}'"></span>
								<span class="edit para-edit" ng-click="changeCurrentEdit('{{p.id}}')">
									<img src="{% static 'img/if_pencil_216350.png' %}" alt="edit this" />
								</span>
								<textarea name="contractParagraph{{p.id}}" ng-value="contractParagraph[{{p.id}}]" ng-model="contractParagraph[{{p.id}}]" ng-show="currentlyEdit=='{{p.id}}'"></textarea>
							</p>
						{% endfor %}
					</div>
				</div>
				<div class="disclaimer">
					<input type="checkbox" name="agree" ng-model="agree" ng-required="true" />I agree that I have read the terms of the contract and am sending it to the client.
					<div class="error-msg" ng-show="contractCreationStep5.agree.$touched && contractCreationStep5.agree.$invalid">Please Agree.</div>
				</div>
				<div class="submit-buttons">
					<a href="{% url 'contracts:create_contract_step_4' contract_info.id %}" class="btn">Back</a>
					<input type="submit" name="action" value="Send to Client" class="continue" />
				</div>
				<div class="submit-buttons alt">
					<input type="submit" name="action" value="Save for Later" class="later" />
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}
	<script src="{% static 'js/inflow.contract.js' %}?d=20180415"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.app.js' %}?d=20180511"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.controller.js' %}?d=20180511"></script>
{% endblock %}