{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}Create New Contract - Step 3 - {{contract_info.contract_name}}{% endblock %}
{% block head_script %}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="create-contract-super-window">
			<div class="header">Create Contract</div>
			<div class="progress-bar">
				<span class="number one done"><a href="{% url 'contracts:create_contract_step_1_edit' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Project Information</span></span>
				<span class="number two done"><a href="{% url 'contracts:create_contract_step_2' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Milestones</span></span>
				<span class="number three on"><span class="text">Optional Fees</span></span>
				<span class="number four"><span class="text">Work Overview</span></span>
				<span class="number five"><span class="text">Preview and Send</span></span>
				<div class="bar"></div>
			</div>
			<form class="contract-creation smaller" name="contractCreationStep3" method="post" action="{% url 'contracts:create_contract_step_3' contract_info.id %}" ng-app="createContractStepThreeApp" ng-controller="createContractStepThreeCtrl" ng-init="kill_fee={{contract_info.kill_fee}};charge_late_fee={{contract_info.charge_for_late_review}};request_change_fee={{contract_info.request_for_change_fee}};extra_revision_fee={{contract_info.extra_revision_fee}}">
				<div class="header left">Optional Fees</div>
				<div class="input-field text-single-line">
					<span class="label extra-fee">Extra Revision Hourly Rate (optional):</span>
					<span class="field"><input type="number" placeholder="$0.00" name="extra_revision_fee" ng-model="extra_revision_fee" ng-value="extra_revision_fee" ng-pattern="/^[0-9]{0,8}([,.][0-9]{1,2})?$/" /></span>
				</div>
				<div class="input-field text-single-line">
					<span class="label extra-fee">Request for Change Fee (optional):</span>
					<span class="field"><input type="number" placeholder="$0.00" name="charge_late_fee" ng-model="charge_late_fee" ng-value="charge_late_fee" ng-pattern="/^[0-9]{0,8}([,.][0-9]{1,2})?$/" /></span>
				</div>
				<div class="input-field text-single-line extra-fee-line">
					<span class="label extra-fee">Charge for Late Review (optional):</span>
					<span class="extra-fee-line">If the Client is <input type="number" name="number-of-days" placeholder="1" /> days(s) late, a charge of <input type="text" name="charge-amount" placeholder="$0.00" /> <select name="frequency"><option value="Per Day">Per Day</option><option value="Per Week">Per Week</option></select> will be added to the Total Project Amount.</span>
				</div>
				<div class="input-field text-single-line">
					<span class="label extra-fee">Kill Fee (optional):</span>
					<span class="field"><input type="number" placeholder="$0.00" name="kill_fee" ng-model="kill_fee" ng-value="kill_fee" ng-pattern="/^[0-9]{0,8}([,.][0-9]{1,2})?$/" /></span>
				</div>
				<div class="submit-buttons">
					<a href="{% url 'contracts:create_contract_step_2' contract_info.id %}" class="btn">Back</a>
					<input type="submit" name="action" value="Continue" class="continue" ng-disabled="contractCreationStep3.$invalid" />
				</div>
				<div class="submit-buttons alt">
					<input type="submit" name="action" value="Save for Later" class="later" ng-disabled="contractCreationStep3.$invalid" />
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}
	<script src="{% static 'js/inflow.contract.js' %}?d=201805"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.app.js' %}?d=20180511"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.controller.js' %}?d=20180511"></script>
{% endblock %}