{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}Create New Contract - Step 2 - {{contract_info.contract_name}}{% endblock %}
{% block head_script %}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="create-contract-super-window">
			<div class="header">Create Contract</div>
			<div class="progress-bar">
				<span class="number one done"><a href="{% url 'contracts:create_contract_step_1_edit' contract_info.id %}"><span class="mark">&#10003;</span></a><span class="text">Project Information</span></span>
				<span class="number two on"><span class="text">Milestones</span></span>
				<span class="number three"><span class="text">Optional Fees</span></span>
				<span class="number four"><span class="text">Work Overview</span></span>
				<span class="number five"><span class="text">Preview and Send</span></span>
				<div class="bar"></div>
			</div>
			<form class="contract-creation" name="contractCreationStep2" method="post" action="{% url 'contracts:create_contract_step_2' contract_info.id %}" ng-app="createContractStepTwoApp" ng-controller="createContractStepTwoCtrl" ng-init="contractId={{contract_info.id}};contractType='{{contract_info.type}}';hourlyRate={{contract_info.hourly_rate}};downPaymentAmount={{contract_info.down_payment_amount}};totalNumberOfRevisions={{contract_info.total_revisions}};loadInMilestones();">
				<div class="header left">Milestones</div>
				<div class="mini-field-line">
					<div class="input-field mini-field date">
						<span class="label">Contract Start Date*:</span>
						<span class="field"><input type="text" placeholder="MM/DD/YY" name="contractStartDate" ng-value="contractStartDate" ng-model="contractStartDate" ng-init="contractStartDate='{{contract_info.start_date}}'" required /></span>
					</div>
					<div class="input-field mini-field date">
						<span class="label">Contract End Date*:</span>
						<span class="field"><input type="text" placeholder="MM/DD/YY" name="contractEndDate" ng-value="contractEndDate" ng-model="contractEndDate" ng-init="contractEndDate='{{contract_info.end_date}}'" required /></span>
					</div>
				</div>
				<div class="mini-field-line">
					<div class="input-field mini-field switch">
						<span class="label">How would you like to charge?</span>
						<table class="contract-type">
							<tbody>
								<tr>
									<td class="milestones" ng-class="{'on': contractType=='d'}" ng-click="contractType = 'd'">Milestones / Deliverables</td>
									<td class="hourly" ng-class="{'on': contractType=='t'}" ng-click="contractType = 't'">Hourly Rate</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="input-field mini-field" ng-show="contractType=='t'">
						<span class="label">Hourly rate*:</span>
						<span class="field"><input type="text" placeholder="0/hr" name="hourlyRate" ng-value="hourlyRate" ng-model="hourlyRate" ng-required="contractType=='t'" /></span>
					</div>
					<div class="input-field mini-field">
						<span class="label">Down Payment (optional):</span>
						<span class="field"><input type="text" placeholder="$0.00" name="downPaymentAmount" ng-value="downPaymentAmount" ng-model="downPaymentAmount" /></span>
					</div>
				</div>
				<div class="error-msg" ng-show="contractCreationStep2.contractStartDate.$invalid || contractCreationStep1.contractEndDate.$invalid || contractCreationStep1.hourlyRate.$invalid">All Above Fields Are Required</div>
				<div ng-repeat="ms in milestones">
					<div class="milestone-block" ng-show="ms.to_be_removed!=1" ng-init="generateDatePickersForUnusedDateFields()">
						<img src="{% static 'img/if_delete_326606.png' %}" alt="Remove Milestone" class="remove-milestone" ng-click="ms.to_be_removed=1" />
						<div class="header left">Milestone #<span ng-bind="ms.index"></span></div>
						<div class="input-field text-single-line">
							<span class="field"><input type="text" placeholder="Milestone Name" name="milestoneName" ng-model="ms.name" ng-value="ms.name" ng-required="ms.to_be_removed!=1" /></span>
						</div>
						<div class="input-field text-multi-line">
							<span class="label">Task Description:</span>
							<span class="field"><textarea name="milestoneDescription" placeholder="Describe the milestone" ng-model="ms.description" ng-value="ms.description"></textarea></span>
						</div>
						<div class="mini-field-line">
							<div class="input-field mini-field" ng-show="contractType=='t'">
								<span class="label">Estimate of hours<br />to completion*:</span>
								<span class="field"><input type="text" placeholder="0 hours" name="milestonesEstimateHours" ng-model="ms.estimate_hours_required" ng-value="ms.estimate_hours_required" ng-change="updateTotals(false)" ng-required="ms.to_be_removed!=1" /></span>
							</div>
							<div class="input-field mini-field">
								<span class="label">Milestone Amount*:</span>
								<span class="field"><input type="number" placeholder="$0.00" name="milestoneAmount" ng-model="ms.payment_amount" ng_value="ms.payment_amount" ng-change="updateTotals(true)" ng-required="ms.to_be_removed!=1" /></span>
							</div>
							<div class="input-field mini-field date">
								<span class="label">Milestone Deadline*:</span>
								<span class="field"><input type="text" placeholder="MM/DD/YYYY" name="milestoneDeadline" ng-model="ms.deadline" ng-value="ms.deadline" ng-required="ms.to_be_removed!=1" /></span>
							</div>
						</div>
						<input type="hidden" name="milestoneId" ng-value="ms.id" />
						<input type="hidden" name="removeMilestone" ng-value="ms.to_be_removed==1" />
					</div>
				</div>
				<div class="addition-buttons left border">
					<span class="milestones" ng-click="addMilestone()">Add another Milestone</span>
				</div>
				<div class="milestone-totals mini-field-line">
					<div class="input-field mini-field" ng-init="contractTotal={{contract_info.contract_total}}">
						<span class="label">Total Project Amount:</span>
						<span class="field"><input type="number" placeholder="$0.00" name="totalContractAmount" ng-value="contractTotal" ng-model="contractTotal" required /></span>
					</div>
					<div class="input-field mini-field clear">
						<span class="label">Total Number of Revisions:</span>
						<span class="field"><input type="number" placeholder="# of Revisions" name="totalNumberOfRevisions" ng-value="totalNumberOfRevisions" ng-model="totalNumberOfRevisions" ng-pattern="/^\d+$/" required /></span>
					</div>
				</div>
				<div class="error-msg" ng-show="contractCreationStep2.totalNumberOfRevisions.$invalid">Please enter a valid total number of revisions</div>
				<div class="submit-buttons">
					<a href="{% url 'contracts:create_contract_step_1_edit' contract_info.id %}" class="btn">Back</a>
					<input type="submit" name="action" value="Continue" class="continue" ng-disabled="contractCreationStep2.$invalid" />
				</div>
				<div class="submit-buttons alt">
					<input type="submit" name="action" value="Save for Later" class="later" ng-disabled="contractCreationStep2.$invalid" />
				</div>
				<input type="hidden" name="contractType" ng-bind="contractType" ng-value="contractType" />
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}
	<script src="{% static 'js/inflow.contract.js' %}?d=201805"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.app.js' %}?d=20180511"></script>
	<script src="{% static 'js/inflow.contract.creation.angular.controller.js' %}?d=201806"></script>
{% endblock %}