{% load staticfiles %}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<title>Time To Talk To Stripe</title>
</head>
<body>
	<h1>Here Are Your Bank Accounts</h1>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		function stripeTokenHandler(token) {
			// Insert the token ID into the form so it gets submitted to the server
			var form = document.getElementById("bank-payment-form");
		  	var hiddenInput = document.createElement("input");
		  	hiddenInput.setAttribute("type", "hidden");
		  	hiddenInput.setAttribute("name", "stripeToken");
		  	hiddenInput.setAttribute("value", token.id);
		  	form.appendChild(hiddenInput);

		  	// Submit the form
			form.submit();
		}
	</script>
	<script>
		jQuery(document).ready(function() {
			if (false) {
				stripe.createToken('bank_account', {
				country: 'US',
				currency: 'usd',
				routing_number: '110000000',
				account_number: '000123456789',
				account_holder_name: 'Jenny Rosen',
				account_holder_type: 'individual',
				}).then(function(result) {
				console.log(result["token"]["id"]);
				});
			}
		});
	</script>
</body>
</html>