{% load staticfiles %}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<title>Time To Talk To Stripe</title>
</head>
<body>
	<h1>Here Are Your Bank Accounts</h1>
	
	<h2>Enter Your Bank Account Information</h2>
	<table>
		<tr>
			<td>
				<p>Bank Account Routing Number: <input type="text" id="routing-number" name="routing-number" /></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Bank Account Number: <input type="text" id="bank-account-number" name="bank-account-number" /></p>
			</td>
		</tr>
		<tr>
			<td>
				<form method="post" id="enter-bank-account">
					<input type="hidden" name="stripeToken" />
					<input type="submit" value="Save Bank Account" />
					{% csrf_token %}
				</form>
			</td>
		</tr>
	</table>
	
	<h2>Here Are Your Bank Accounts</h2>
	{% for bankAcct in BankAccounts %}
		<p>{{ bankAcct.account_holder_name }} - {{ bankAcct.bank_name }} - {{ bankAcct.last4 }}</p>
	{% endfor %}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script src="https://s3.us-east-2.amazonaws.com/inflowcssjs/inflow.utils.js"></script>
	<script>
		jQuery(document).ready(function() {
			var stripe = Stripe("pk_test_1jY0jXXrP4ov94DS1A1Ndfjp");
			var elements = stripe.elements();
			
			jQuery("form#enter-bank-account").submit(function(e) {
				e.preventDefault();
				
				var bankingRoutingNumber = jQuery("input#routing-number").val();
				var bankingAccountNumber = jQuery("input#bank-account-number").val();
				
				if (!InflowLib.ValidateBankRoutingNumber(bankingRoutingNumber)) { 
					alert("Invalid Bank Routing Number");
					return false;
				}
				
				if (!InflowLib.ValidateAtLeastOneCharacter(bankingAccountNumber)) { 
					alert("Account Number Needed");
					return false;
				}
				
				stripe.createToken('bank_account', {
					country: '{{ BaseCountry.Code }}',
					currency: '{{ BaseCountry.PrimaryCurrency }}',
					routing_number: bankingRoutingNumber,
					account_number: bankingAccountNumber,
					account_holder_name: '{{ HolderName }}',
					account_holder_type: '{{ legalEntityType }}',
				}).then(function(result) {
					if (result["error"]) {
						alert(result["error"]["message"]);
					}
					if (result["token"]) {
						jQuery("form#enter-bank-account input[name='stripeToken']").val(result["token"]["id"]);
						console.log("Returning True");
						var form = document.getElementById("enter-bank-account");
						form.submit();
						return true;
					}
					else {
						return false;
					}
				});
			});
		});
	</script>
</body>
</html>