{% load staticfiles %}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
	<title>Time To Talk To Stripe</title>
</head>
<body>
	<h1>Hello Stripe, This Is Me</h1>
	{% if error_description %}
		<h2>{{error_description}}</h2>
	{% endif %}
	<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{stripe_acct}}&scope=read_write&state={{call_state}}">Standard Stripe Account</a>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://js.stripe.com/v3/"></script>
</body>
</html>