{% load staticfiles %}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/inflowcssjs/base.css" />
	<title>Time To Talk To Stripe</title>
</head>
<body>
	<h1>You Need To Verify Your Stripe Info</h1>
	
	<h2>Your Current Account Information</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>User Name</th>
			<th>Name On Account</th>
			<th>Joined On</th>
		</tr>
		<tr>
			<td>{{ settings.UserAccount.id }}</td>
			<td>{{ settings.UserAccount.username }}</td>
			<td>{{ settings.UserAccount.first_name }}&nbsp;{{ settings.UserAccount.last_name }}</td>
			<td>{{ settings.Joined }}</td>
		</tr>
	</table>
	
	{% if request.method == "POST" %}
		<p>{{ successMessage }}</p>
	{% endif %}
	
	<h2>Enter Information Needed For Verification</h2>
	<form method="post" id="stripe-verification">
		<table>
			<tr>
				<td>
					<select id="legal-entity-type" name="legal-entity-type">
						<option value="individual" {% if legalEntityType == "individual" %}selected="selected"{% endif %}>Individual</option>
						<option value="company" {% if legalEntityType == "company" %}selected="selected"{% endif %}>Company</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<p>Business Name: <input type="text" id="business-name" name="business-name" value="{% if legalEntityBusinessName %}{{ legalEntityBusinessName }}{% endif %}" {% if legalEntityType == "individual" %}disabled="disabled"{% endif %} /></p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Date of Birth: <input type="text" id="date-of-birth" name="date-of-birth" /></p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Address Line 1: <input type="text" id="address-1" name="address-1" value="{% if legalEntityAddress.line1 %}{{legalEntityAddress.line1}}{% endif %}" /></p>
				</td>
			</tr>
			<tr>
				<td>
					<p>City: <input type="text" id="address-city" name="address-city" value="{% if legalEntityAddress.city %}{{legalEntityAddress.city}}{% endif %}" /></p>
				</td>
			</tr>
			<tr>
				<td>
					<p>State: <input type="text" id="address-state" name="address-state" value="{% if legalEntityAddress.state %}{{legalEntityAddress.state}}{% endif %}" /></p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Postal Code: <input type="text" id="address-zip" name="address-zip" value="{% if legalEntityAddress.postal_code %}{{legalEntityAddress.postal_code}}{% endif %}" /></p>
				</td>
			</tr>
			<tr>
				<td>
					{% if ssnLastFourProvided %}
						<p>Last 4 of SSN Provided, not needed</p>
						<p>Last Four SSN Digits: <input type="text" id="ssn-last-4" name="ssn-last-4" value="" disabled="disabled" /></p>
					{% else %}
						<p>You still need to provide the last 4 digits of your SSN</p>
						<p>Last Four SSN Digits: <input type="text" id="ssn-last-4" name="ssn-last-4" value="" /></p>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<div>By registering your account, you agree to our Services Agreement and the Stripe Connected Account Agreement.</div>
					<input type="submit" value="Register" />
					{% csrf_token %}
				</td>
			</tr>
		</table>
	</form>
	
	{% if not personalIdProvided %}
		<table>
			<tr>
				<td><p>Personal ID Number: <input type="text" id="personal-id-number" value="" /></p></td>
			</tr>
			<tr>
				<td>
					<form method="post" id="personal-id-number-verification">
						<input type="hidden" name="piiStripeToken" />
						<input type="submit" value="Verify Personal ID Number" />
						{% csrf_token %}
					</form>
				</td>
			</tr>
		</table>
	{% endif %}
	
	{% if legalEntityType == "company" and not businessTaxId  %}
		<table>
			<tr>
				<td><p>Business Tax ID: <input type="text" id="business-tax-id" value="" /></p></td>
			</tr>
			<tr>
				<td>
					<form method="post" id="business-tax-id-verification">
						<input type="hidden" name="piiBusinessTaxNumber" />
						<input type="submit" value="Verify Business Tax ID Number" />
						{% csrf_token %}
					</form>
				</td>
			</tr>
		</table>
	{% endif %}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script src="https://s3.us-east-2.amazonaws.com/inflowcssjs/inflow.utils.js"></script>
	<script>
		jQuery(document).ready(function() {
			var stripe = Stripe("pk_test_1jY0jXXrP4ov94DS1A1Ndfjp");
			var elements = stripe.elements();
			
			jQuery("form#stripe-verification input#date-of-birth").datepicker({showOtherMonths:true,selectOtherMonths:true});
			jQuery("form#stripe-verification input#date-of-birth").blur(function() {
				val = jQuery(this).val();
		        val1 = Date.parse(val);
		        if (isNaN(val1)==true && val!=='') {
		        	jQuery(this).val("");
		        }
		    });
			
			{% if legalEntityDob %}
				jQuery("form#stripe-verification input#date-of-birth").datepicker("setDate", new Date({{ legalEntityDob.year }}, {{ legalEntityDob.zeroBasedIndexMonth }}, {{ legalEntityDob.day }}))
			{% endif %}
			
			jQuery("select#legal-entity-type").change(function() {
					var selectedLegalEntityType = jQuery(this).val();
					
					if (selectedLegalEntityType === "individual") {
						jQuery("input#business-name").attr("disabled", "disabled");
					}
					else {
						jQuery("input#business-name").removeAttr("disabled");
					}
				}
			);
				
			jQuery("form#stripe-verification").submit(function() {
				enteredDate = jQuery("form#stripe-verification input#date-of-birth").val();
				val1 = Date.parse(enteredDate);
		        if (isNaN(val1)===true && enteredDate==="") {
		        	alert("Need To Enter A Valid Date");
		        	return false;
		        }
		        
		        var enteredAddressFields = [
					jQuery("form#stripe-verification input#address-1").val(),
					jQuery("form#stripe-verification input#address-city").val(),
					jQuery("form#stripe-verification input#address-state").val(),
					jQuery("form#stripe-verification input#address-zip").val()];
		        
		        // Address Fields
		        for (var iterator = 0; iterator < enteredAddressFields.length; iterator++) {
		        	if (!InflowLib.ValidateAtLeastOneCharacter(enteredAddressFields[iterator])) { 
		        		alert("All Address Fields Required");
		        		return false;
			        }	
		        }
		        
		        // Postal Code
		        if (!InflowLib.ValidatePostalCode(jQuery("form#stripe-verification input#address-zip").val())) {
		        	alert("Need To Enter A Valid US Postal Code");
		        	return false;
		        }
		        
		        // Last 4 SSN Digits
		        var lastFourSSN = jQuery("form#stripe-verification input#ssn-last-4").val();
		        if (InflowLib.ValidateAtLeastOneCharacter(lastFourSSN) && !InflowLib.ValidateSocialSecurity(lastFourSSN)) {
		        	alert("Must Enter A Valid Value For Last 4 SSN Digits");
		        	return false;
		        }
		        
				return true;
			});
			
			jQuery("form#personal-id-number-verification").submit(function(e) {
				e.preventDefault();
				
				var personalIdNumber = jQuery("input#personal-id-number").val();
				if (InflowLib.ValidatePersonalIdNumber(personalIdNumber)) {
					stripe.createToken('pii', {
						personal_id_number: personalIdNumber,
					}).then(function(result) {
						if (result["error"]) {
							alert(result["error"]["message"]);
						}
						if (result["token"]) {
							jQuery("form#personal-id-number-verification input[name='piiStripeToken']").val(result["token"]["id"]);
							var form = document.getElementById("personal-id-number-verification");
							form.submit();
						}
					});
				}
				else {
					alert("Need Full 9 Digit SSN");
				}
				
				return false;
			});
			
			jQuery("form#business-tax-id-verification").submit(function(e) {
				e.preventDefault();
				
				var personalIdNumber = jQuery("input#business-tax-id").val();
				if (InflowLib.ValidatePersonalIdNumber(personalIdNumber)) {
					stripe.createToken('pii', {
						personal_id_number: personalIdNumber,
					}).then(function(result) {
						if (result["error"]) {
							alert(result["error"]["message"]);
						}
						if (result["token"]) {
							jQuery("form#business-tax-id-verification input[name='piiBusinessTaxNumber']").val(result["token"]["id"]);
							var form = document.getElementById("business-tax-id-verification");
							form.submit();
						}
					});
				}
				else {
					alert("Need Full 9 Digit SSN");
				}
				
				return false;
			});
		});
	</script>
</body>
</html>