body { width: auto; }

header { background-color: #DDD; padding: 0px; }
header div.label { font-size: 24px; font-weight: 300; margin: 0px auto; padding: 30px 0px; text-align: center; text-transform: lowercase; width: 1024px; }

main { margin: 0px auto; width: 1024px; }
main form.steps-container { border-left: 1px #000 solid; margin: 70px 0px 0px; }
main form.steps-container div.step { padding: 0px 0px 25px; }
main form.steps-container div.step div.index { background-color: #000; border-radius: 25px; color: #FFF; float: left; margin: 0px 0px 0px -15px; padding: 7px 10px; -moz-border-radius: 25px; -webkit-border-radius: 25px; }
main form.steps-container div.step div.name { cursor: pointer; padding: 0px 0px 0px 40px; }
main form.steps-container div.step div.form { color: #555; margin: 15px 0px 0px; overflow: hidden; padding: 0px 0px 0px 40px; }
main form.steps-container div.step div.form div.milestone-container.off, main form.steps-container div.step div.form div.time-container.off { display: none; }
main form.steps-container div.step div.form input[type="text"],
main form.steps-container div.step div.form input[type="email"] { padding: 6px; }
main form.steps-container div.step div.form input[type="text"].whole-width,
main form.steps-container div.step div.form input[type="email"].whole-width { display: block; margin: 0px 0px 10px; width: 500px; }
main form.steps-container div.step div.form div.form-label { margin: 15px 0px 5px; }
main form.steps-container div.step div.form div.radio { padding: 5px 0px; }
main form.steps-container div.step div.form div.radio input[type="radio"] { margin: 0px 15px 0px 0px; }
main form.steps-container div.step div.controls { height: 15px; padding: 30px 0px 15px 40px; overflow: hidden; }
main form.steps-container div.step div.controls a:link,
main form.steps-container div.step div.controls a:visited,
main form.steps-container div.step div.controls a:hover,
main form.steps-container div.step div.controls a:active { padding: 5px 10px; text-decoration: none; }
main form.steps-container div.step div.controls.off { height: 0px; padding: 0px; }

main form.steps-container div.step div.form span.clicker { background-color: #000; border-radius: 5px; color: #FFF; cursor: pointer; display: inline-block; font-size: 34px; line-height: 20px; margin: 0px 10px; padding: 0px 20px 3px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
main form.steps-container div.step div.form span.clicker.on { background-color: #FFF; color: #000; padding: 0px 5px 0px 20px; }
main form.steps-container div.step div.form span.clicker-status { display: inline-block; vertical-align: top; }

main form.steps-container div.step div.controls a.cancel:link,
main form.steps-container div.step div.controls a.cancel:visited,
main form.steps-container div.step div.controls a.cancel:hover,
main form.steps-container div.step div.controls a.cancel:active,
main form.steps-container div.step div.controls span.cancel { color: #555; cursor: pointer; margin: 0px 15px 0px 0px; }
main form.steps-container div.step div.controls a.forward:link, 
main form.steps-container div.step div.controls a.forward:visited, 
main form.steps-container div.step div.controls a.forward:hover, 
main form.steps-container div.step div.controls a.forward:active,
main form.steps-container div.step div.controls span.forward { background-color: #000; color: #FFF; cursor: pointer; padding: 5px 10px; }

main form.steps-container div.step div.form div.frequency-container { margin: 25px 0px; width: 500px; }
main form.steps-container div.step div.form span.radio { background-color: #000; color: #FFF; display: inline-block; margin: 0px 15px 10px 0px; padding: 10px 30px; text-align: center; width: 170px; }
main form.steps-container div.step div.form span.radio input[type="radio"] { margin: 0px 20px 0px 0px; }

main form.steps-container div.summary { background-color: #DDD; border: 1px solid #666; clear: both; float: left; margin: 30px 0px 25px 40px; padding: 10px 50px; width: 800px; }
main form.steps-container div.summary.off { display: none; }
main form.steps-container div.summary div.line { padding: 0px 0px 10px; }
main form.steps-container div.summary div.section { border-bottom: 1px solid #666; padding: 10px 0px; }
main form.steps-container div.summary div.section.off { display: none; }
main form.steps-container div.summary div.section span.header { display: inline-block; font-weight: bold; margin: 0px 50px 0px 10px; vertical-align: top; width: 150px; }
main form.steps-container div.summary div.section span.value { display: inline-block; }
main form.steps-container div.summary div.section span.value span.off { display: none; }
main form.steps-container div.summary div.section span.value br.off { display: none; }
main form.steps-container div.summary div.confirm { padding: 20px 0px; }
main form.steps-container div.summary div.confirm a:link,
main form.steps-container div.summary div.confirm a:visited,
main form.steps-container div.summary div.confirm a:hover,
main form.steps-container div.summary div.confirm a:active { background-color: #000; color: #FFF; display: inline-block; margin: 0px 0px 0px 10px; padding: 5px 10px; text-decoration: none; }

main form.steps-container div.summary div.line.milestones span.value { width: 400px; }
main form.steps-container div.summary div.line.milestones span.value span { display: inline-block; overflow: hidden; padding: 0px 0px 15px; text-overflow: ellipsis; width: 180px; white-space: nowrap; }
main form.steps-container div.summary div.line.milestones span.value span a:link,
main form.steps-container div.summary div.line.milestones span.value span a:visited,
main form.steps-container div.summary div.line.milestones span.value span a:hover,
main form.steps-container div.summary div.line.milestones span.value span a:active { color: #000; }

main form.steps-container div.step.one div.form { height: 120px; }
main form.steps-container div.step.one div.form.off { height: 0px; margin: 0px; }
main form.steps-container div.step.one div.form input[type="text"] { width: 175px; }
main form.steps-container div.step.two div.form { height: 370px; }
main form.steps-container div.step.two div.form.off { height: 0px; margin: 0px; }
main form.steps-container div.step.two div.form input[type="text"].zip { margin: 0px 20px 0px 0px; width: 120px; }
main form.steps-container div.step.two div.form input[type="text"].city { margin: 0px 20px 0px 0px; width: 150px; }
main form.steps-container div.step.two div.form input[type="text"].state { width: 150px; }
main form.steps-container div.step.three div.form.off { height: 0px; margin: 0px; }
main form.steps-container div.step.three div.form div.milestone-container { height: auto; }
main form.steps-container div.step.three div.form div.milestone-container.off { height: 0px; }
main form.steps-container div.step.three div.form div.time-container { height: 120px; }
main form.steps-container div.step.three div.form div.time-container.off { height: 0px; }
main form.steps-container div.step.three div.form textarea { display: block; margin: 10px 0px; width: 300px; }
main form.steps-container div.step.three div.form div.milestone-container span.add-milestone { color: #000; cursor: pointer; text-decoration: underline; }
main form.steps-container div.step.three div.form input[type="text"].nickname { width: 170px; }
main form.steps-container div.step.three div.form input[type="text"].revisions { width: 100px; }
main form.steps-container div.step.four div.form.off { height: 0px; margin: 0px; }
main form.steps-container div.step.four div.form div.milestone-container { height: auto; }
main form.steps-container div.step.four div.form div.milestone-container.off { height: 0px; }
main form.steps-container div.step.four div.form div.time-container { height: 280px; }
main form.steps-container div.step.four div.form div.time-container.off { height: 0px; }
main form.steps-container div.step.four div.form table span.nickname { display: inline-block; overflow: hidden; text-overflow: ellipsis; width: 200px; white-space: nowrap; }
main form.steps-container div.step.five { padding: 0px; }
main form.steps-container div.step.five div.form.off { height: 0px; margin: 0px; }

div.contract-header1 { color: #7b7c7e; font-size: 54px; font-weight: 200; margin: 130px 300px 25px; text-align: center;  }
div.contract-header2 { color: #7b7c7e; font-size: 54px; font-weight: 200; margin: 50px 300px 25px; padding: 0px 0px 63px; text-align: center;  }
div.para { margin: 80px auto 0px; width: 510px; }
div.para p a { color: #000; }

div.lean-modal-overlay { background-color: #BBB; border: 1px #444 solid; height: 450px; padding: 25px; width: 600px; }
div.lean-modal-overlay div.super-header { margin: 10px 0px 25px; font-size: 28px; font-weight: bold; }
div.lean-modal-overlay div.header { font-weight: bold; margin: 0px 0px 15px; }
div.lean-modal-overlay div.sub-header { font-size: 14px; }
div.lean-modal-overlay textarea { display: block; height: 240px; margin: 25px 0px 10px; width: 100%; }
div.lean-modal-overlay span.acknowledgement { font-size: 12px; }
div.lean-modal-overlay div.electronic-signature-label { font-size: 18px; margin: 10px 0px 5px; }
div.lean-modal-overlay input[name="electronic-signature"] { padding: 5px 0px 5px 5px; width: 100%;  }
div.lean-modal-overlay div.submisson { margin: 10px 0px; overflow: auto;  }
div.lean-modal-overlay div.submisson span.cancel { background-color: #FFF; cursor: pointer; display: inline-block; float: right; margin: 0px 10px 0px 0px; padding: 3px 10px; }
div.lean-modal-overlay div.submisson input[type="submit"] { background-color: #000; border: none; color: #FFF; float: right; font-family: Lato, Verdana, sans-serif; font-size: 16px; }
div.lean-modal-overlay.congrats { height: auto; text-align: center; }
a.off { display: none; }