html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }
body { line-height: 1em; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
strong { font-weight: bold; }

/* The Beginning of InFlow Base CSS Overrides */
/* High Level Styles */
body { background-color: #FFF; color: #000; font-family: Lato, Verdana, sans-serif; }
header { background-color: #3E5A7C; border-bottom: 1px solid #FFF; height: 60px; position: fixed; width: 100%; z-index: 50; }
main { padding: 60px 0px 0px; }
footer {}
a, a:link, a:visited, a:hover, a:active { color: #000; text-decoration: none; }

/* High level elements */
div.content { margin: 0px auto; max-width: 1280px; }
a.inflow-btn,
a.inflow-btn:link,
a.inflow-btn:visited,
a.inflow-btn:hover,
a.inflow-btn:active { background-color: #E6833B; border-radius: 8px; color: #FFF; padding: 10px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
a.inflow-btn.alt,
a.inflow-btn.alt:link,
a.inflow-btn.alt:visited,
a.inflow-btn.alt:hover,
a.inflow-btn.alt:active { background-color: #3E5A7C; }
input, select { border: solid 1px #979797; display: block; margin: 9px 0px; }
input[type="text"], input[type="email"], input[type="password"], select { border-radius: 8px; font-size: 14px; font-weight: 300; padding: 10px 15px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
input[type="checkbox"] { display: inline-block; height: 21px; margin: 0px 3px 0px 0px; width: 21px; }
input[type="submit"] { background-color: #3E5A7C; border-radius: 8px; color: #FFF; font-size: 24px; font-weight: bold; margin: 0px auto; padding: 9px 0px; width: 300px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
span.oval { background-color: #F6F4F0; border: solid 1px #979797; border-radius: 25px; display: inline-block; height: auto; padding: 8px 0px; text-align: center; vertical-align: middle; width: 35px; -moz-border-radius: 25px; -webkit-border-radius: 25px; }

/* Header Navigation Elements */
header div.content { clear: both; overflow: hidden; }
header div.logo { color: #FFF; float: left; font-size: 48px; margin: 0px; padding: 6px 19px 0px; }
header div.logo a,
header div.logo a:link,
header div.logo a:visited,
header div.logo a:hover,
header div.logo a:active { color: #FFF; display: block; }
header div.logo img { height: auto; width: 60px; }
header nav { float: right; margin: 22px 50px 0px 0px; }
header nav a,
header nav a:link,
header nav a:visited,
header nav a:hover,
header nav a:active { color: #FFF; font-size: 14px; font-weight: 500; padding: 6px 25px; }
header nav a.on,
header nav a.on:link,
header nav a.on:visited,
header nav a.on:hover,
header nav a.on:active { border-bottom: solid 3px #F8F8F8; }
header nav a.alt,
header nav a.alt:link,
header nav a.alt:visited,
header nav a.alt:hover,
header nav a.alt:active { background-color: #E6833B; border: solid 1px #979797; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }

/* High Level Main Elements */
main div.content { margin: 48px auto 0px; width: 1280px; }
form div.checkbox-list { margin: 15px 0px; }
form div.checkbox-list span.checkbox { display: inline-block; }
form div.checkbox-list span.checkbox input[type="checkbox"] { margin: 0px 7px 0px 0px; }
form div.radio-list { margin: 15px 0px; }
form div.radio-list span.button { display: inline-block; }
form div.radio-list span.button input[type="radio"] { display: inline-block; margin: 9px 7px 9px 0px; }

/* Main Elements */
main h1 { font-size: 36px; line-height: 36px; text-align: center; }
main div.login-buttons { margin: 48px auto 15px; width: 200px; }
main div.login-buttons a.inflow-btn { display: inline-block; margin: 0px 0px 7px; padding: 10px 0px; text-align: center; width: 193px; }
main div.separator { color: #000000; font-size: 14px; font-weight: 300; margin: 15px 0px; text-align: center; }
main form.login-form { margin: 0px auto; width: 365px; }
main form.login-form input[type="text"], main form.login-form input[type="email"], main form.login-form input[type="password"] { width: 330px; }
main form.login-form div.under-textboxes input[type="checkbox"] { float: left; }
main form.login-form div.under-textboxes a { font-size: 14px; font-weight: 300; }
main form.login-form div.under-textboxes a.forgot { float: right; }
main div.under-textboxes { margin: 0px 0px 17px; }
main div.under-textboxes span.checkbox-text { font-size: 14px; font-weight: 300; }
main div.signup-link { margin: 7px auto; text-align: center; }
main div.signup-link a,
main div.signup-link a:link,
main div.signup-link a:visited,
main div.signup-link a:hover,
main div.signup-link a:active { text-decoration: underline; }
main div.g-signin2 { margin: 0px 0px 7px; }
main div.error-msg { color: #800000; text-align: center; }
main div.agree-to-terms-of-service { font-size: 16px; font-weight: 400; margin: 12px 0px; text-align: center; }

/* Main Element - Progress Bar */
main div.progress-bar { margin: 25px auto 15px; width: 358px; }
main div.progress-bar div.bar { border-top: 1px solid #979797; }
main div.progress-bar span.number { display: inline-block; padding: 0px 0px 8px 5px; position: relative; }
main div.progress-bar span.number.two { margin: 0px 155px; }
main div.progress-bar span.number:after { background-color: #FFF; border: 1px solid #979797; border-radius: 18px; bottom: -18px; content: ""; left: 0px; padding: 15px; position: absolute; -moz-border-radius: 18px; -webkit-border-radius: 18px; }
main div.progress-bar span.number.on:after { background-color: #E6833B; }

/* Onboarding Form */
main form.onboarding-form { margin: 50px auto; width: 700px; }
main form.onboarding-form div.question-text { font-size: 22px; line-height: 24px; padding: 15px 0px; text-align: center; }
main form.onboarding-form div.question-text span.sub-text { font-size: 16px; }
main form.onboarding-form div.checkbox-list { text-align: center; }
main form.onboarding-form div.checkbox-list span.checkbox { font-size: 18px; margin: 0px 80px; text-align: left; width: 150px; }
main form.onboarding-form div.radio-list { margin: 5px auto 15px; text-align: left; width: 225px; }
main form.onboarding-form div.radio-list span.button { display: block; }
main form.onboarding-form div.radio-list span.button input[type="radio"] {}
main form.onboarding-form input[type="submit"] { font-size: 20px; }
main form.onboarding-form input[type="text"],
main form.onboarding-form input[type="email"],
main form.onboarding-form input[type="password"], select {  margin: 9px auto; width: 300px; }
main form.onboarding-form select { height: 39px; width: 332px; }

/* Splash Page */
main div.home-top { background-image: linear-gradient(227deg, #fad961, #f76b1c); color: #3E5A7C; padding: 15px 0px; position: relative; text-align: center; }
main div.home-top.alt { height: 650px; padding: 0px; }
main div.home-top h1 { font-size: 34px; font-weight: 700; line-height: 38px; padding: 80px 0px 50px; position: relative; z-index: 40; }
main div.home-top h1.standalone { padding: 15px 0px; position: relative; z-index: 40; }
main div.home-top h2 { font-size: 34px; font-weight: 300; line-height: 38px; padding: 5px 80px 35px; position: relative; z-index: 40; }
main div.home-top p { font-size: 26px; font-weight: 700; line-height: 30px; padding: 40px 0px 25px; position: relative; z-index: 40; }
main div.home-top img { height: auto; left: 0px; opacity: 0.3; position: absolute; top: 0px; width: 100%; }
main div.home-tile { background-color: #F8F8F8; border: solid 1px #979797; color: #3E5A7C; padding: 10px; position: relative; }
main div.home-tile.alt { background-color: #3E5A7C; color: #F6F4F0; }
main div.home-top.alt h1 { padding: 180px 0px 50px; }

main div.home-tile div.points { margin: 25px auto 15px; max-width: 1280px; padding: 0px; position: relative; text-align: center; }
main div.home-tile div.points span.number { display: inline-block; font-size: 23px; line-height: 30px; padding: 0px; width: 300px; }
main div.home-tile div.points span.number img { display: block; height: auto; margin: 0px auto 15px; width: 75px; }
main div.home-tile h3 { font-size: 30px; font-weight: 700; line-height: 32px; padding: 15px 0px 30px; text-align: center; }

main div.home-tile h2 { font-size: 36px; font-weight: 700; line-height: 42px; padding: 25px 0px 45px; text-align: center; }
main div.home-tile h2.alt { color: #3E5A7C; }
main div.home-tile.text-alt { color: #424753; }
main div.home-tile p.heading { font-size: 17px; line-height: 25px; margin: 0px auto; padding: 20px 0px; text-align: center; width: 980px; }
main div.home-tile div.buttons { padding: 50px 0px; text-align: center; }
main div.home-tile div.buttons a { font-size: 18px; margin: 0px 40px; }

main div.home-tile > img { height: auto; left: -409px; opacity: 0.1; position: absolute; top: 300px; width: 900px; }

/* Email Sign Up */
main form.sign-up { padding: 25px 0px 60px; position: relative; z-index: 40; }
main form.sign-up input { display: inline-block; font-size: 18px; line-height: 20px; }
main form.sign-up input[type="text"],
main form.sign-up input[type="email"],
main form.sign-up input[type="password"] { margin: 0px 10px 0px 0px; width: 330px; }
main form.sign-up input[type="submit"] { font-weight: 500; padding: 10px 0px; }

/* How It Works */
div.how-it-works-tile { color: #3E5A7C; margin: 85px auto; overflow: hidden; width: 800px; }
div.how-it-works-tile div { float: left; }
div.how-it-works-tile div.text { padding: 35px 0px; width: 300px; }
div.how-it-works-tile div.text.left { margin: 0px 200px 0px 0px; }
div.how-it-works-tile div.text.right { margin: 0px 0px 0px 200px; }
div.how-it-works-tile div.text h4 { font-size: 25px; font-weight: 700; line-height: 28px; }
div.how-it-works-tile div.text p { font-size: 20px; font-weight: 300; line-height: 26px; padding: 20px 0px; }
div.how-it-works-tile div.text a.inflow-btn { background-color: #3E5A7C; display: block; text-align: center; }
div.how-it-works-tile div.photo { width: 290px; }
div.how-it-works-tile div.photo img { height: 260px; padding: 0px 0px; width: auto; }
div.how-it-works-tile div.photo img.stripe { height: auto; padding: 50px 0px; width: 320px; }

main div.how-it-works-feature { color: #000; margin: 70px auto; overflow: hidden; width: 980px; }
main div.how-it-works-feature div.image { float: left; width: 200px; }
main div.how-it-works-feature div.image img { height: auto; width: 100%; }
main div.how-it-works-feature div.text { float: left; padding: 0px 40px; width: 695px; }
main div.how-it-works-feature div.text h3 { font-size: 25px; line-height: 36px; padding: 0px 0px 30px; text-align: left; }
main div.how-it-works-feature div.text p { font-size: 17px; line-height: 26px; text-align: left; }

main div.human { margin: 0px auto; overflow: hidden; padding: 25px 0px; width: 1024px; }
main div.human div.portrait { float: left; width: 450px; }
main div.human div.portrait img { display: block; height: auto; padding: 0px 40px; width: 370px; }
main div.human div.bio { float: left; text-align: center; width: 570px; }
main div.human div.bio div.heading { font-size: 25px; font-weight: 700; line-height: 30px; padding: 0px 0px 35px; }
main div.human div.bio div.heading span.title { font-style: italic; }
main div.human div.bio div.text { font-size: 17px; line-height: 28px; padding: 0px 25px 25px; }

/* Home Page Stats */
div.home-stats { margin: 0px auto; padding: 75px 0px; position: relative; width: 1024px; }
div.home-stats div.stat { color: #F6F4F0; left: 0px; position: absolute; text-align: center; top: 0px; width: 250px; }
div.home-stats div.stat.one {}
div.home-stats div.stat.two { left: 385px; }
div.home-stats div.stat.three { left: 765px; }
div.home-stats div.stat div.header { font-size: 35px; font-weight: 700; line-height: 36px; padding: 0px 0px 15px; }
div.home-stats div.stat div.description { font-size: 22px; font-weight: 100; line-height: 24px; text-align: left; }

div.blog-container { margin: 0px auto; overflow: hidden; padding: 50px 0px; width: 1130px; }
div.blog-container div.blogs { float: left; width: 720px; }
div.blog-container div.blogs article { padding: 0px 0px 80px; }
div.blog-container div.blogs article div.img-header { background-color: #D8D8D8; border: solid 1px #979797; height: 388px; }
div.blog-container div.blogs article h2 { font-size: 30px; font-weight: 700; line-height: 32px; padding: 25px 0px; text-align: left; }
div.blog-container div.blogs article p { color: #3E5A7C; font-size: 20px; line-height: 22px; }
div.blog-container div.blogs article a { color: #F6F4F0; display: inline-block; font-size: 18px; line-height: 20px; margin: 15px 0px; }
div.blog-container div.nav-elements { float: left; min-height: 150px; padding: 0px 15px; width: 370px; }
div.blog-container div.nav-elements div.sign-up { border: solid 1px #979797; margin: 0px 0px 50px; }
div.blog-container div.nav-elements div.sign-up div.heading { font-size: 30px; font-weight: 700; line-height: 32px; padding: 25px 0px; text-align: center; }
div.blog-container div.nav-elements div.sign-up div.sub-heading { font-size: 20px; font-weight: 300; line-height: 22px; padding: 0px 40px 25px; text-align: center; }
div.blog-container div.nav-elements div.sign-up form.sign-up { padding: 15px 10px 5px; }
div.blog-container div.nav-elements div.sign-up form.sign-up input[type="email"] { width: 195px; }
div.blog-container div.nav-elements div.sign-up form.sign-up input[type="submit"] { width: 100px; }
div.blog-container div.nav-elements div.sign-up div.disclaimer { font-size: 15px; font-weight: 300; padding: 10px 15px; }

div.blog-container div.nav-elements div.blog-highlights { border: solid 1px #979797; }
div.blog-container div.nav-elements div.blog-highlights div.header { background-color: #F6F4F4; }
div.blog-container div.nav-elements div.blog-highlights div.header div.row { border-bottom: solid 1px #979797; overflow: hidden; }
div.blog-container div.nav-elements div.blog-highlights div.header div.row a { display: inline-block; float: left; text-align: center; padding: 17px 0px; width: 183px; }
div.blog-container div.nav-elements div.blog-highlights div.header div.row a.first { border-right: solid 1px #979797; }
div.blog-container div.nav-elements div.blog-highlights div.header div.row a.second {}
div.blog-container div.nav-elements div.blog-highlights div.header div.row a.on { background-color: #FFF; }
div.blog-container div.nav-elements div.blog-highlights div.container article { border-bottom: solid 1px #979797; overflow: hidden; padding: 15px; }
div.blog-container div.nav-elements div.blog-highlights div.container article div.img-header { border: solid 1px #979797; float: left; height: 88px; width: 117px; }
div.blog-container div.nav-elements div.blog-highlights div.container article h3 { font-size: 15px; line-height: 16px; padding: 20px 0px 5px 140px; text-align: left; }
div.blog-container div.nav-elements div.blog-highlights div.container article div.date { font-size: 10px; line-height: 12px; padding: 0px 0px 5px 140px; }
div.blog-container div.nav-elements div.blog-highlights div.container article:last-child { border-bottom: none; }

/* Error Pages */
main div.content.error { margin: 48px auto 0px; text-align: left; width: 800px; }
main div.content.error div.error-title { font-size: 25px; font-style: italic; font-weight: 300; line-height: 26px; padding: 15px 0px; }
main div.content.error div.main-error-message { font-size: 64px; font-weight: 700; line-height: 66px; padding: 15px 0px; }
main div.content.error div.error-description { font-size: 25px; font-weight: 300; line-height: 30px; padding: 15px 0px; }
main div.content.error div.error-description a { text-decoration: underline; }
main div.content.error div.error-description.larger { font-size: 35px; line-height: 36px; }
main div.content.error div.error-description.smaller { font-size: 20px; }
main div.content.error a.inflow-btn { display: inline-block; margin: 20px 0px; }

/* Footer */
footer { background-color: #3E5A7C; height: auto; padding: 0px; }
footer div.line { overflow: hidden; }
footer div.line div.left { float: left; }
footer div.line div.left p { color: #FFF; font-size: 13px; font-weight: 300; line-height: 14px; padding: 10px 15px; width: 430px; }
footer div.line div.right { float: right; }
footer div.line div.right p { padding: 0px 25px 0px 0px; }
footer div.line div.right p a { color: #FFF; display: inline-block; font-size: 15px; font-weight: 300; line-height: 16px; padding: 0px 10px; }
footer div.line div.right p a.sign-in { color: #e6833b; }
footer div.logo { color: #FFF; float: left; font-size: 48px; margin: 10px 0px 20px; padding: 6px 19px 0px; }
footer div.logo a,
footer div.logo a:link,
footer div.logo a:visited,
footer div.logo a:hover,
footer div.logo img { height: auto; width: 60px; }
footer div.logo a:active { color: #FFF; }
footer div.social-media { color: #FFF; font-size: 13px; font-weight: 300; line-height: 14px; padding: 10px 25px 15px 150px; }
footer div.social-media img { height: auto; padding: 0px 10px; width: 25px; }