{% load staticfiles %}
<!doctype html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" />
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/lf.dashboard.css' %}?d=201803052355" />
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="#">InFlow</a>
			</div>
			<div class="content">
				<nav>
					<ul>
						<li>
							{% if is_client %}
								<a href="{% url 'htmldemos:client_active_use' %}">Home</a>
							{% else %}
								<a href="{% url 'htmldemos:freelancer_active_use' %}">Home</a>
							{% endif %}
						</li>
						<li {% if not exclude_arrow %}class="arrow"{% endif %}><a href="#">Projects</a></li>
						<li>
							{% if is_client %}
								<a href="#">Contractors</a>
							{% else %}
								<a href="#">Clients</a>
							{% endif %}
						</li>
						<li><a href="#">Activity</a></li>
					</ul>
				</nav>
				<nav class="alt">
					<ul>
						<li><a href="#">Profile</a></li>
						<li><a href="#">Settings</a></li>
						<li><a href="#">FAQs/Help</a></li>
						<li><a href="#">Sign Out</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			{% block main_tag %}{% endblock %}
		</main>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="{% static 'js/inflow.dashboard.base.js' %}"></script>
		{% block bottom_scripts %}{% endblock %}
	</body>
</html>