{% extends 'base/dashboard.home.lowfi.html' %}
{% block title %}Welcome To Your InFlow Dashboard{% endblock %}
{% block main_tag %}
	<div class="news-ribbon">
		<div class="heading">Hello, {{first_name}}. Welcome back!</div>
		<div class="sub-heading">Get paid by signing up for Stripe!</div>
		<a href="#">Sign Up</a>
	</div>
	<div class="dashboard-tables left">
		<div class="data-table">
			<div class="header">Upcoming Milestones</div>
			<div class="view-link"><a href="#">View All</a></div>
			<div class="table">
				<div class="row table-header">
					<span class="date">DATE</span>
					<span class="milestone">MILESTONE</span>
					<span class="project">PROJECT</span>
					<span class="amount">TOTAL</span>
				</div>
				<div class="row">
					<span class="date">3/20/18</span>
					<span class="milestone">NFL Wireframes</span>
					<span class="project">App Experience</span>
					<span class="amount">$1,200</span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
			</div>
		</div>
		<div class="data-table">
			<div class="header">Milestones Reached</div>
			<div class="view-link"><a href="#">View All</a></div>
			<div class="table">
				<div class="row table-header">
					<span class="date">DATE</span>
					<span class="milestone">MILESTONE</span>
					<span class="project">PROJECT</span>
					<span class="amount">PAID</span>
				</div>
				<div class="row">
					<span class="date">1/25/18</span>
					<span class="milestone">NFL Research</span>
					<span class="project">App Experience</span>
					<span class="amount">$500</span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="dashboard-tables right">
		<div class="messages">
			<span class="empty-text">Rotating messages of freelance tips, blog posts, updates, etc.</span>
		</div>
	</div>
{% endblock %}