{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Contractor Dashboard{% endblock %}
{% block main_tag %}
	<div class="news-ribbon">You have one new Milestone to review! <a href="#">Check it out now.</a></div>
	<div class="client-tables left">
		<div class="data-table">
			<div class="header">Upcoming Milestones</div>
			<div class="view-link"><a href="#">View All</a></div>
			<div class="table">
				<div class="row table-header">
					<span class="date">DATE</span>
					<span class="milestone">MILESTONE</span>
					<span class="project">PROJECT</span>
					<span class="amount">TOTAL</span>
				</div>
				<div class="row alt">
					<span class="date">3/20/18</span>
					<span class="milestone">NFL Wireframes</span>
					<span class="project">App Experience</span>
					<span class="amount">$1,200</span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
			</div>
		</div>
		<div class="data-table">
			<div class="header">Milestones Paid</div>
			<div class="view-link"><a href="#">View All</a></div>
			<div class="table">
				<div class="row table-header">
					<span class="date">DATE</span>
					<span class="milestone">MILESTONE</span>
					<span class="project">PROJECT</span>
					<span class="amount">PAID</span>
				</div>
				<div class="row">
					<span class="date">1/25/18</span>
					<span class="milestone">NFL Research</span>
					<span class="project">App Experience</span>
					<span class="amount">$500</span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="client-tables right">
		<div class="data-table">
			<div class="header">Upcoming Milestones</div>
			<div class="view-link"><a href="#">View All</a></div>
			<div class="table">
				<div class="row">
					<span>1/29/18 Signed contract with Contractor</span>
				</div>
				<div class="row">
					<span>1/30/18 Provided feedback for Contractor</span>
				</div>
				<div class="row"><span></span></div>
				<div class="row"><span></span></div>
				<div class="row"><span></span></div>
				<div class="row"><span></span></div>
				<div class="row"><span></span></div>
				<div class="row"><span></span></div>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}