{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="info-window">
			<div>You have approved and paid for this Milestone! You and your contractor will receive an email confirmation and receipt.</div>
			<a href="#">Resend email confirmations</a>
		</div>
		<div class="inner-details footer">
			<div class="buttons"><a href="#" class="alt">Return to Milestones</a><a href="#">View Invoice</a></div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}