{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="header">Projects</div>
		<div class="right-facing-button">
			<a href="#">Create Project</a>
		</div>
		<div class="list">
			<div class="label">
				<span class="col1">CURRENT PROJECTS</span>
			</div>
			<div class="item selected">
				<div class="info no-border">
					<div class="title">NFL Experience App</div>
					<div class="description">Louis Armstrong</div>
				</div>
				<div class="icon">Eye Picture</div>
			</div>
			<div class="item">
				<div class="info no-border">
					<div class="title">NFL Website</div>
					<div class="description">Ella Fitzgerald</div>
				</div>
				<div class="icon">Eye Picture</div>
			</div>
			<div class="item">
				<div class="info no-border">
					<div class="title">NFL eCommerce</div>
					<div class="description">Billie Holiday</div>
				</div>
				<div class="icon">Eye Picture</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}