{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'htmldemos:client_active_use' %}">Return to Projects</a></div>
	<div class="content project-arrow more-top-padding">
		<div class="info-window">
			<div>You have reviewed and declined this Milestone. Your Contractor will review your feedback and upload a new deliverable for your review.</div>
			<div>You will get an email when this happens!</div>
		</div>
		<div class="inner-details footer">
			<div class="buttons"><a href="{% url 'htmldemos:client_active_use_projects_milestones' %}" class="alt">Return to Milestones</a></div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}