{% extends 'base/dashboard.base.demo.html' %}
{% block title %}Inflow My Project Dashboard{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'htmldemos:client_active_use' %}">Return to Projects</a></div>
	<div class="content">
		<div class="heading-elements">
			<div class="header">NFL EXPERIENCE APP</div>
			<div class="sub-header">National Football League</div>
		</div>
		<div class="preview-window">
			<div class="file-name">Wireframes_NFL_3.20.18.pdf</div>
			<div class="preview-area"><span>Image of Milestones with Watermark</span></div>
		</div>
		<div class="feedback-due"><span>Feedback from client due:</span>March 23, 2018</div>
		<div class="inner-details footer">
			<div class="buttons">
				<a href="#" class="alt">Decline Milestone</a>
				<a href="#">Approve &amp; Pay</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}