{% extends 'base/splash.page.html' %}
{% block title %}Welcome to InFlow{% endblock %}
{% block main_tag %}
	<div class="home-top">
		<h1 class="standalone">About Us</h1>
	</div>
	<div class="home-tile text-alt">
		<h2 class="alt">Our Story</h2>
		<p class="heading">In early 2017, our founder saw a post on the WeWork chat board from a freelancer asking about ways to recoup payment from a client that was three months overdue on their latest check. </p>
		<p class="heading">What surprised our team the most was the lack of options a freelancer could take to resolve instances of non-payment.  Rather than accepting the status quo our team has worked diligently ever since to bring to market a solution designed meet the diverse needs of the freelance community</p>
	</div>
	<div class="home-tile alt">
		<h3>The Humans Behind InFlow</h3>
		<div class="human">
			<div class="portrait"></div>
			<div class="bio">
				<div class="heading">
					<span class="name">Josh Blank,</span>
					<span class="title">CEO</span>
				</div>
				<div class="text">A written-out blurb/bio.</div>
			</div>
		</div>
		<div class="human">
			<div class="portrait"></div>
			<div class="bio">
				<div class="heading">
					<span class="name">Brian Katchmar,</span>
					<span class="title">CTO and Lead Developer</span>
				</div>
				<div class="text">A written-out blurb/bio.</div>
			</div>
		</div>
		<div class="human">
			<div class="portrait"></div>
			<div class="bio">
				<div class="heading">
					<span class="name">Kenny Kim,</span>
					<span class="title">Head of Product</span>
				</div>
				<div class="text">A devilishly handsome man</div>
			</div>
		</div>
	</div>
	<div class="home-tile text-alt">
		<h2 class="alt">Connect with us!</h2>
		<p class="heading">We don't believe in customer service, we believe in customer empowerment. We’re available by email and social media, so drop us a line anytime!</p>
		<p class="heading">We're here to listen and help you plan for a more prosperous future!</p>
		<div class="buttons">
			<a href="{% url 'blog' %}" class="inflow-btn alt">Check out the blog</a>
			<a href="#" class="inflow-btn">Email us</a>
		</div>
	</div>
{% endblock %}