{% extends 'base/splash.page.html' %}
{% block title %}Welcome to InFlow{% endblock %}
{% block main_tag %}
	<div class="home-top">
		<h1 class="standalone">About Us</h1>
	</div>
	<div class="home-tile text-alt">
		<h2 class="alt">Our Story</h2>
		<p class="heading">In recent years the freelance workforce has become a major factor in driving the success of the US and worldwide economies.  Freelancers enjoy the freedom and flexibility to do their best work by working on their own terms while companies have the ability to work with talented experts when they need them.</p>
		<p class="heading">We founded InFlow in 2017 to solve a massive problem still facing the freelance workforce.  Every year 34% of freelancers do work for a client and are not paid for it. In addition to the freelancers who experience non-payment a large majority of the workforce struggles to get paid on time.</p>
		<p class="heading">With that knowledge, we set on out a mission to help create a more prosperous, happy and fulfilled freelance workforce by providing the tools freelancers need to be successful in today’s economy.</p>
		<p class="heading">We hope you'll join us on this mission to empower freelancers all over the world.</p>
	</div>
	<div class="home-tile alt">
		<h3>The Humans Behind InFlow</h3>
		<div class="human">
			<div class="portrait"></div>
			<div class="bio">
				<div class="heading">
					<span class="name">Josh Blank,</span>
					<span class="title">Founder and CEO</span>
				</div>
				<div class="text">Freelance skill: Sales and Consulting</div>
				<div class="text">Josh is a hopeless Mets fan and basketball fanatic originally from Long Island and currently residing in Brooklyn, New York. When he's not sobbing into his pillow about what could have been this season, he enjoys finding the best cheap eats New York has to offer.</div>
			</div>
		</div>
		<div class="human">
			<div class="portrait"></div>
			<div class="bio">
				<div class="heading">
					<span class="name">Kenny Kim,</span>
					<span class="title">Head of Product</span>
				</div>
				<div class="text">Kenny is a product manager by day and chef by night originally from Korea currently residing in Brooklyn, New York. When he's not working to improve the InFlow product, Kenny enjoys making small batch hot sauce under the name Hachapuela.</div>
			</div>
		</div>
		<div class="human">
			<div class="portrait"></div>
			<div class="bio">
				<div class="heading">
					<span class="name">Brian Katchmar,</span>
					<span class="title">Chief Technology Officer</span>
				</div>
				<div class="text">Brian is a veteran full-stack developer in the fintech space and avid Yankees &amp; Rangers fan. When he's not coming up with new names for our product and dev environments, Brian enjoys traveling and has a strong preference for Captain Crunch cereal.</div>
			</div>
		</div>
	</div>
	<div class="home-tile text-alt">
		<h2 class="alt">Connect with us!</h2>
		<p class="heading">We're people too. We love speaking with freelancers about their businesses, hearing feedback and giving advice when we can. Drop us a line and let us know what’s on your mind.</p>
		<div class="buttons">
			<a href="{% url 'blog' %}" class="inflow-btn alt">Check out the blog</a>
			<a href="#" class="inflow-btn">Email us</a>
		</div>
	</div>
{% endblock %}