{% extends 'base/dashboard.home.lowfi.html' %}
{% block title %}Help - InFlow 101{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content outer">
		<div class="header">HELP CENTER</div>
		<div class="help header alt">What can we help you with?</div>
		<div class="help sub-header alt">If you ever need to get in contact with us, we're available for you on Facebook, Twitter, and Instagram, or email us at support@inflow.co.</div>
		<div class="help-accordian-holder">
			<div class="help-accordian-row">
				<div class="accordian">
					<div class="accordian-header">Basics</div>
					<div class="items">
						<div class="item">
							<div class="title">Question #1</div>
							<div class="info">The answer to the question.</div>
							<div class="arrow">&#9660;</div>
						</div>
						<div class="item">
							<div class="title">Question #2</div>
							<div class="info">The answer to the question.</div>
							<div class="arrow">&#9660;</div>
						</div>
						<div class="item">
							<div class="title">Question #3</div>
							<div class="info">The answer to the question.</div>
							<div class="arrow">&#9650;</div>
						</div>
						<div class="item">
							<div class="title">Question #4</div>
							<div class="info">The answer to the question.</div>
							<div class="arrow">&#9660;</div>
						</div>
					</div>
				</div>
				<div class="accordian">
					<div class="accordian-header">Security</div>
					<div class="items">
						<div class="item">
							<div class="title">Question #1</div>
							<div class="info">The answer to the question.</div>
							<div class="arrow">&#9660;</div>
						</div>
						<div class="item">
							<div class="title">Question #2</div>
							<div class="info">The answer to the question.</div>
							<div class="arrow">&#9660;</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}