{% extends 'base/splash.page.html' %}
{% block title %}Welcome to InFlow{% endblock %}
{% block main_tag %}
	<div class="home-top">
		<h1 class="standalone">How It Works</h1>
	</div>
	<div class="home-tile text-alt">
		<h2>How InFlow works for you</h2>
		<p class="heading">InFlow is a milestone-based payment and secure workshare platform designed to help freelancers and clients have a better working relationship.</p>
		<div class="how-it-works-feature">
			<div class="image">Put Image Here</div>
			<div class="text">
				<h3>Automatic Contract Creation</h3>
				<p>Easily create legally binding contracts based on your existing work and billing preferences.  Our simplified contract creation process makes it easy for you and your client to understand even the most difficult of contract clauses.</p>
			</div>
		</div>
		<div class="how-it-works-feature">
			<div class="image">Put Image Here</div>
			<div class="text">
				<h3>Milestone Based Billing</h3>
				<p>You've done the work, now get paid for it. Bill your clients by milestones and deliverables limiting your risk and eliminating the need for costly and time consuming revisions.</p>
			</div>
		</div>
		<div class="how-it-works-feature">
			<div class="image">Put Image Here</div>
			<div class="text">
				<h3>Payment Processing</h3>
				<p>Never worry about how you’ll get paid again.  By working with Stripe we give you the ability to accept payments by credit card, debit card and ACH payment all through the InFlow platform.</p>
			</div>
		</div>
		<div class="how-it-works-feature">
			<div class="image">Put Image Here</div>
			<div class="text">
				<h3>Deliverable Review</h3>
				<p>Give clients the ability to access your work without giving them access to source files.  Get feedback and determine whether the milestone has been completed.  Once the client has paid for the milestone, source files will automatically be sent to them.</p>
			</div>
		</div>
		<div class="how-it-works-feature">
			<div class="image">Put Image Here</div>
			<div class="text">
				<h3>An All in One Solution</h3>
				<p>We're focused on creating a better experience for you and your client.  Our all in one solution simplifies the file transfer process, keeping all important files organized in one place.</p>
			</div>
		</div>
	</div>
	<div class="home-top">
		<p>Sign up to receive free updates as soon as they hit!</p>
		<form class="sign-up" method="post">
			<input type="email" name="email-address" placeholder="Email address" required />
			<input type="submit" value="Start your free trial" />
			{% csrf_token %}
		</form>
	</div>
{% endblock %}