{% extends 'base/splash.page.html' %}
{% load staticfiles %}
{% block title %}Welcome to InFlow{% endblock %}
{% block main_tag %}
	<div class="home-top">
		<h1 class="standalone">How It Works</h1>
	</div>
	<div class="home-tile text-alt">
		<h2>How InFlow works for you</h2>
		<p class="heading">InFlow is a milestone-based payment and secure workshare platform designed to help freelancers and clients have a better working relationship.</p>
		<div class="how-it-works-feature">
			<div class="image"><img src="{% static 'img/if_d36_1121663.png' %}" alt="Automatic Contract Creation" /></div>
			<div class="text">
				<h3>Create a legally binding contract</h3>
				<p>Our contracts make it easy to understand even the most challenging contract terms. Set terms for project scope, milestones, timeline, number of revisions, work ownership and more to keep yourself protected. Once your contract is built and complete, send to your client for E-Signature and keep a copy for your records.</p>
			</div>
		</div>
		<div class="how-it-works-feature">
			<div class="image"><img src="{% static 'img/if_milestone_flag_check_project_management_business_office_working_1472183.png' %}" alt="Milestone Based Billing" /></div>
			<div class="text">
				<h3>Send to your client for E-Sign</h3>
				<p>Clients have the ability to read and E-Sign directly through our platform.  Simplify the process and keep a signed copy for your records.</p>
			</div>
		</div>
		<div class="how-it-works-feature">
			<div class="image"><img src="{% static 'img/if_paid_invoice_stamp_bills_2986415.png' %}" alt="Payment Processing" /></div>
			<div class="text">
				<h3>Work and Bill By the Milestone</h3>
				<p>Work towards your next project milestone  Each time you reach a milestone send your work to client for review. Once the milestone has been accepted and the client pays the work will be automatically sent to them.</p>
			</div>
		</div>
		<div class="how-it-works-feature">
			<div class="image"><img src="{% static 'img/if_review_msds_882736.png' %}" alt="Deliverable Review" /></div>
			<div class="text">
				<h3>Simple payments</h3>
				<p>Get paid by credit card, debit card or ACH payment. Our payment platform runs on stripe so you can enjoy secure transactions, low fees and fast payouts.</p>
			</div>
		</div>
		<div class="how-it-works-feature">
			<div class="image"><img src="{% static 'img/if_30_solution_provider_824937.png' %}" alt="An All in One Solution" /></div>
			<div class="text">
				<h3>Secure work preview</h3>
				<p>Our platform gives you the ability to preview watermarked work with clients without giving them access to source files. Clients can leave feedback and initiate payment without accessing your work providing protection against your work being used without payment or permission.</p>
			</div>
		</div>
		<div class="how-it-works-feature">
			<div class="image"><img src="{% static 'img/if_30_solution_provider_824937.png' %}" alt="An All in One Solution" /></div>
			<div class="text">
				<h3>An All-In-One Transaction Platform</h3>
				<p>Manage payments, file transfers, work preview and contracts all through our easy to use solution. We make it easy to get paid in full faster by helping you improve how you work with clients.</p>
			</div>
		</div>
	</div>
	<div class="home-top">
		<p>Sign up to receive free updates as soon as they hit!</p>
		<form class="sign-up" method="post">
			<input type="email" name="email-address" placeholder="Email address" required />
			<input type="submit" value="Start your free trial" />
			{% csrf_token %}
		</form>
	</div>
{% endblock %}