{% extends 'base/splash.page.html' %}
{% load staticfiles %}
{% block title %}Welcome to InFlow{% endblock %}
{% block main_tag %}
	<div class="home-top">
		<h1>Fair and timely payments for creative freelancers and clients</h1>
		<h2>Bill by the milestone, share work securely get paid in full for freelance work faster</h2>
		{% if sign_up_msg != "" %}
			<p>{{sign_up_msg}}</p>
		{% endif %}
		<form class="sign-up" method="post">
			<input type="email" name="email-address" placeholder="Email address" required />
			<input type="submit" value="Start your free trial" />
			{% csrf_token %}
		</form>
	</div>
	<div class="home-tile alt">
		<h3>How You Benefit</h3>
		<div class="points">
			<span class="number one">
				<img src="{% static 'img/if_paid_invoice_stamp_bills_2986415.png' %}" alt="InFlow Benefit 1" />
				Get paid in full
			</span>
			<span class="number two">
				<img src="{% static 'img/if_alarm_on_2897845.png' %}" alt="InFlow Benefit 2" />
				Get paid in faster
			</span>
			<span class="number three">
				<img src="{% static 'img/if_075_402140.png' %}" alt="InFlow Benefit 3" />
				A better client experience
			</span>
		</div>
	</div>
	<div class="home-tile">
		<h3>How InFlow Works</h3>
		<div class="how-it-works-tile">
			<div class="text left">
				<h4>Build a legally binding contract</h4>
				<p>We make it easy to understand contract terms so you and your client know exactly what to expect before, during and after the course of a project</p>
				<a href="#" class="inflow-btn">Get Started</a>
			</div>
			<div class="photo">
				<img src="{% static 'img/if_d36_1121663.png' %}" alt="InFlow allows to easily onboard clients faster" />
			</div>
		</div>
		<div class="how-it-works-tile">
			<div class="photo">
				<img src="{% static 'img/if_milestone_flag_check_project_management_business_office_working_1472183.png' %}" alt="Milestone Based Payment Solution" />
			</div>
			<div class="text right">
				<h4>Set Project Milestones and Deliverables</h4>
				<p>Create a custom payment schedule for each for your projects. Limit the risk of non-payment and multiple revisions by billing when milestones are reached.</p>
				<a href="#" class="inflow-btn">Learn More</a>
			</div>
		</div>
		<div class="how-it-works-tile">
			<div class="text left">
				<h4>Securely Preview Your Work Without Giving Access to Source Files</h4>
				<p>Each time a milestone is reached, your files can be uploaded to our platform and securely shared with clients for feedback.  Once the agreed upon milestone is paid for through our platform, the files are automatically sent to your client</p>
				<a href="{% url 'accounts:create' %}" class="inflow-btn">Sign Up</a>
			</div>
			<div class="photo">
				<img src="{% static 'img/stripe-logo.png' %}" alt="Get paid on InFlow with Stripe" class="stripe" />
			</div>
		</div>
	</div>
	<div class="home-tile alt">
		<h3>Did You Know?</h3>
		<div class="home-stats">
			<div class="stat one">
				<div class="header">34%</div>
				<div class="description">The percent of freelancers who experience non-payment every year</div>
			</div>
			<div class="stat two">
				<div class="header">77%</div>
				<div class="description">The percent of freelancers who have trouble getting paid by a client every year</div>
			</div>
			<div class="stat three">
				<div class="header">12%</div>
				<div class="description">The percent of yearly income a freelancer uses when they experience non-payment</div>
			</div>
		</div>
	</div>
	<div class="home-top">
		<p>Sign up to receive free updates as soon as they hit!</p>
		{% if sign_up_msg != "" %}
			<p>{{sign_up_msg}}</p>
		{% endif %}
		<form class="sign-up" method="post">
			<input type="email" name="email-address" placeholder="Email address" required />
			<input type="submit" value="Start your free trial" />
			{% csrf_token %}
		</form>
	</div>
{% endblock %}