{% extends 'base/dashboard.home.lowfi.html' %}
{% block title %}Welcome To Your InFlow Dashboard{% endblock %}
{% block main_tag %}
	<div class="news-ribbon">
		<div class="heading">Hello, {{first_name}}. Welcome back!</div>
		<div class="sub-heading">Get paid by signing up for Stripe!</div>
		<a href="{% url 'accounts:edit_account' %}">Sign Up</a>
	</div>
	<div class="dashboard-tables left">
		<div class="data-table">
			<div class="header">Upcoming Milestones</div>
			<div class="table">
				<div class="row table-header">
					<span class="date">DATE</span>
					<span class="milestone">MILESTONE</span>
					<span class="project">PROJECT</span>
					<span class="amount">TOTAL</span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
			</div>
		</div>
		<div class="data-table">
			<div class="header">Milestones Reached</div>
			<div class="table">
				<div class="row table-header">
					<span class="date">DATE</span>
					<span class="milestone">MILESTONE</span>
					<span class="project">PROJECT</span>
					<span class="amount">PAID</span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
				<div class="row">
					<span class="date"></span>
					<span class="milestone"></span>
					<span class="project"></span>
					<span class="amount"></span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}