{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}Contract Overview{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="create-contract-super-window">
			<div class="progress-bar">
				<span class="number one on"><span class="text">Work Overview</span></span>
				<span class="number two"><span class="text">Contract Review</span></span>
				<span class="number three"><span class="text">Preview and Send</span></span>
				<div class="bar"></div>
			</div>
			<div class="header">Work Overview</div>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}