{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}Contract Overview{% endblock %}
{% block main_tag %}
	<div class="back-links"></div>
	<div class="content project-arrow">
		<div class="create-contract-super-window">
			<div class="progress-bar">
				<span class="number one on"><span class="text">Work Overview</span></span>
				<span class="number two"><span class="text">Contract Review</span></span>
				<span class="number three"><span class="text">Preview and Send</span></span>
				<div class="bar"></div>
			</div>
			<div class="header">Work Overview</div>
			<div class="sub-header">Please review details of the contract. You will be able to review the full contract agreement before signing. If you have any edits you’d like to make, please do so below with the Edit button.</div>
			<div class="sub-header"><a href="{% url 'contracts:view_contract_amendments' contract_info.slug contract_info.id %}">View all of this contract's amendments</a></div>
			<form class="contract-creation review-contract" method="post">
				<div class="overview-section">
					<div class="header">
						Project Information
						<a href="#" class="go-to-edit-mode">Edit</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}