{% extends 'base/dashboard.base.lowfi.project.html' %}
{% load staticfiles %}
{% block title %}View Contract Amendments{% endblock %}
{% block main_tag %}
	<div class="back-links"><a href="{% url 'contracts:home' %}">Return to Projects</a></div>
	<div class="content project-arrow higher">
		<div class="amendment-list">
			<a href="#">[Put Link to contracts:amend_contract_overview here]</a>
			<a href="#">[Put Link to contracts:amend_contract_overview here]</a>
			<a href="#">[Put Link to contracts:amend_contract_overview here]</a>
		</div>
	</div>
{% endblock %}
{% block bottom_scripts %}{% endblock %}